<!-- <div id="progressBar">
	<div class="loader"></div>
</div> -->
<div ng-controller="ViewCtrl">
    <!-- Top Bar Chart -->
    <div class=" panel-content ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="widget ">
                    <div class="table-area ">
                        <div class="table-responsive " ng-show="totalItems>0 ">
                            <table class="table">
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td><a class="btn btn-success" role="button">Sale one</a></td>
                                        <td>
                                            <a class="btn btn-success" role="button">Sale one</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" role="button">Sale one</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" role="button">Sale one</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" role="button">Sale one</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-success" role="button">Sale one</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>