<html>

<body>
    <table>
        <thead></thead>
        <tbody>
            <tr>
                <td>
                    <%= order._id =></td>
            </tr>
        </tbody>
    </table>
</body>

</html>