<!DOCTYPE html>
<html>

<head>
  <meata charset="UTF-8">
  <style>
      @import url('https://fonts.googleapis.com/css?family=Dosis:500');
      @font-face {
          font-family: "Catamaran-Light";
          src: url("fonts/Catamaran-Light.ttf");
      }
      table {
          width: 600px;
          margin: 0 auto;
          font-family: "Catamaran-Light";
      }
      tbody>tr>td {
          font-size: 12pt;
          padding: 0px 60px;
      }
      tfoot {
          color:#f1f1f1;
          font-size: 11px;
      }
      .list-inline>li {
          display: inline-block;
      }
      .img-responsive {
          display: block;
          max-width: 100%;
          height: auto;
      }
        .logo{
        padding:10px 0px;
        }

  </style>
</head>

<body>
    <div>
        <table>
            <thead>
                <caption>
                    <div class="logo">
                        <img class="img-responsive" src="img/s1.png" alt="Logo"  style="width: 110px;">
                    </div>
                </caption>

            </thead>
            <tbody>
              <tr>
                  <td style="padding:0px;">
                    <img src="img/5.jpg" class="img-responsive">
                  </td>
                </tr>
                <tr>
                    <td style="font-family: 'Catamaran-Light';">
                    <p>Dear <span style="color:#9cdbb9">Manan Vora,</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-family: 'Catamaran-Light';color: black;text-align:justify;margin:0px 0 20px 0;line-height: 1.2;">
                        You have requested to reset the password for your account with gotheextramile.com. To reset your password, please click on the following link.
                        </p>
                    </td>
                 </tr>
                 <tr>
                     <td>
                         <p style="font-family: 'Catamaran-Light';color: black;line-height: 1.2;">
                           Yours sincerely,<br>
                           Team,<br>
                           Go The Extra Mile
                         </p>
                     </td>
                  </tr>
            </tbody>
            <tfoot style="background-color:#3f4040;">
                         <tr>
                             <td style="padding: 0px 0px;text-align:center ;font-family:Catamaran-Light;">
                                 <p>Copyright <span><i class="fa fa-copyright" aria-hidden="true"></i></spna> 2017 Quiz Time in Critical Care</p>
                             </td>
                         </tr>
             </tfoot>
        </table>
    </div>
</body>

</html>
