 @media (max-width: $screen-xs-max) {
     // Mobile
     .side-nav {
         .links {
             width: 100%;
         }
     }
     .cloth-buy {
         .cloth-buy__desc h2 {
             font-size: 20px;
         }
     }
     //scss for about us page
     .contact-us .enquiry-form {
         padding: 35px 35px 35px 35px;
     }
     .about-cloth .cloth-buy .cloth-buy__desc h2 {
         font-size: 20px;
     }
     .contact-us .enquiry-form-pdd {
         max-width: 100%;
        display: block;
     }
     .contact-us .contactus-details {
         margin-left: 0;
         max-width: 100%;
     }
 }