<div class="listing-img">
    <img ng-src="{{banner | serverimage}}">
</div>
<div class="container">
    <div class="breadcrumbs">
        <ul class="list-inline">
            <li>home</li>
            <li>brands</li>
        </ul>
    </div>
    <div class="brands-images">
        <div class="row">
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
            <div class="col-md-3">
                <div class="brand1">
                    <figure>
                        <img src="img/home/logo.png" class="img-responsive" alt="brands">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>