<div>
    <div class="container">
        <div class="cancel-success-msg">
            <h2 class="order-status-title text-center">CancelLation</h2>
            <div class="cancel-success-content">
                <div class="cancel-success-width">
                    <p>Your selected items have been successfully cancelled.<br> Your order information has been updated. If
                        you've paid using net banking or credit/debit card, your refund will be initiated with your bank
                        within the next 3-4 working days. </p>
                    <p>For more information please refer our <a href="">cancellation policy.</a></p>
                    <div class="backto-prof-btn text-center">
                        <button class="btn backto-prof--btn text-uppercase" ui-sref='myaccount({view: "profTab"})'>Continue to profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>