<div>
  <div class="container">
    <div class="order-cancel-table">
      <h2 class="order-status-title text-center">CancelLation
      </h2>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="text-uppercase">
              <th colspan="2" class="align-top">order placed<br><strong>{{order.createdAt | date:'dd/MM/yyyy'}}</strong></th>
              <th class="align-top">order no.<br><strong>{{order.orderNo}}</strong></th>
              <th class="align-top">Grand total<br><strong>&#8377; {{order.totalAmount |number:0}}</strong></th>
            </tr>
            <tr>
              <th colspan="4"></th>
            </tr>
            <tr class="text-uppercase">
              <th class="align-middle">item ordered</th>
              <th class="align-middle">price</th>
              <th class="align-middle">quantity</th>
              <th class="align-middle">cancel item</th>
            </tr>
          </thead>
          <tbody ng-repeat="product in order.products">
            <tr>
              <td class="relate">
                <div class="item-img inline-block">
                  <img ng-src="{{product.product.images[0].image }}" alt="Ordered Item" class="img-responsive">
                </div>
                <div class="inline-block item-desc">
                  <h4 class="item-name text-uppercase">{{product.product.productName}}
                  </h4>
                  <p class="item-code"><span class="text-capitalize">Product Code:</span><span class="text-uppercase"> {{product.product.productCode}}</span>
                  </p>
                  <!--<p class="item-code"><span class="text-capitalize">size:</span><span class="text-uppercase">M</span>
                                </p>
                                <p class="item-code"><span class="text-capitalize">color</span><span class="text-uppercase"> black</span>
                                </p>-->
                </div>
                <!--<div class="comment">
                                <p class="item-code">Comment: {{product.comment}}.</p>
                                <hr class="table-divider">
                            </div>-->
              </td>
              <td class="text-center relate">
                <h4 class="item-name"><i class="fa fa-inr"></i>{{product.product.price * product.quantity |number:0}}</h4>
              </td>

              <td class="text-center">
                <div class="order-return plus-minus-btn">
                  <!--<a ng-click="updateQuantity($index, -1)">
                                    <i class="fa fa-minus square__bg" aria-hidden="true"></i>
                                </a>-->
                  <div class="inline-block">
                    <form>
                      <div class="form-group marg0">
                        <input type="text" readonly class="form-control quantity__input" ng-model="product.quantity">
                      </div>
                    </form>
                  </div>
                  <!--<a ng-click="updateQuantity($index, 1)" ng-if="product.quantity< product.product.quantity">
                                    <i class="fa fa-plus square__bg" aria-hidden="true"></i>
                                </a>-->
                </div>
              </td>
              <td>
                <div class=" custom-checkbox">
                  <div class="inline-block checkbox">
                    <input type="checkbox" id="{{product.product.productCode}}" ng-click="selectedProduct(product)" ng-checked="check(product.product._id)">
                    <label for="{{product.product.productCode}}"></label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="row">
        <div class="col-md-5">
          <form name="productCancel" nonvalidate>
            <div class="form-group">
              <label class="item-code">Reason for cancel :</label>
              <div class=" inline-block order-return-dropdown" uib-dropdown>
                <button type="button" class="btn text-capitalize item-return--btn" uib-dropdown-toggle ng-click="openDropdown()">{{setReturnResonText}}  <span class="caret"></button>
                <ul class="return-dropdown-menu dropdown-menu" uib-dropdown-menu role="menu">
                  <li role="menuitem" ng-repeat="reasons in returnReson" ng-click="getReturnReson(reasons)" value="{{reasons.reason}}"><a href="" value="{{reasons.reason}}">{{reasons.reason}}</a></li>

                </ul>
              </div>
            </div>
            <div class="form-group">
              <textarea name="" id="" cols="5" rows="5" class="form-control" placeholder="Comment"></textarea>
            </div>
            <p><button class="btn comnt-submit--btn" type="submit" ng-click="cancelOrder()">SUBMIT</button></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>