<div class="checkout">
    <div>
        <img ng-src="{{banner.image | serverimage}}" alt="" class="img-responsive">
    </div>
    <div>
        <div class="container">
            <div class="content-spacing">
                <div class="row">
                    <div class="col-md-3">
                        <div class="list-checkout">
                            <button class="btn btn--list" ng-disabled="loggedUser" ng-click="view='loginTab'" ng-class="{
                        'btn--brownActive': view=='loginTab' }">Login</button>
                            <div>
                                <button class="btn btn--list" ng-disabled="!loggedUser" ng-click="view='orderTab'" ng-class="{
                        'btn--brownActive': view=='orderTab' }">Order</button>
                            </div>
                            <div>
                                <button class="btn btn--list" ng-disabled="!loggedUser" ng-click="view='detailTab'" ng-class="{
                        'btn--brownActive': view=='detailTab' }"> Details</button>
                            </div>
                            <div>
                                <button class="btn btn--list">Payment</button>
                            </div>
                        </div>
                    </div>
                    <div class="login-tab" ng-if="!loggedUser && view=='loginTab'">
                        <div class="col-md-3 col-md-offset-1">
                            <form class="customized-form login-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Email" ng-model="loginData.email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" ng-model="loginData.password" class="form-control">
                                    <p class="pull-right forgot__checkout"><a href="">Forgot Password?</a></p>
                                </div>
                                <div>
                                    <button class="btn btn--login btn-block" ng-click="login()">log in</button>
                                </div>
                                <p class="border-line">or</p>
                                <div class="social-icons">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="social-icons__list fb">
                                                <a href="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list tw">
                                                <a href="">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list gp">
                                                <a href="">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <form class="customized-form custom-checkbox login-form" name="formData">
                                <div class="form-group">
                                    <input type="text" placeholder="First Name" ng-model="registerData.firstname" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Last Name" ng-model="registerData.lastname" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email Address" ng-model="registerData.email" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Mobile" ng-model="registerData.mobile" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" ng-model="registerData.password" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Confirm Password" ng-model="registerData.confirmpassword" class="form-control" hs-password-verifier="registerData.password"
                                        required>
                                    <span ng-show="formData.registerData.confirmpassword.$error.hsPasswordVerifier">Passwords don't match</span>
                                </div>
                                <div class="checkbox forgot__checkout">
                                    <input type="checkbox" id="a1">
                                    <label for="a1">  I agree with the terms and conditions and privacy policy</label>
                                </div>
                                <div>
                                    <button class="btn btn--login btn-block" ng-click="registerUser()">sign in</button>
                                </div>
                                <p class="border-line">or</p>
                                <div class="social-icons">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="social-icons__list fb">
                                                <a href="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list tw">
                                                <a href="">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list gp">
                                                <a href="">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="order-tab" ng-if="loggedUser&&view=='orderTab' ">
                        <div class="col-md-9 ">
                            <table class="table order-table table-bottom ">
                                <thead>
                                    <tr>
                                        <th>item</th>
                                        <th>color</th>
                                        <th>size</th>
                                        <th>quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in orderTable.products ">
                                        <td>
                                            <div class="item ">
                                                <img ng-src="{{product.product.images[0].image | serverimage}} " alt="
                        " class="img-responsive item__img-checkout ">
                                                <div class="mycart-info ">
                                                    <p class="item__title1 ">{{product.product.productName}}</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>{{product.product.color.name}}</td>
                                        <td>{{product.product.size.name}}</td>
                                        <td>{{product.quantity}}</td>
                                        <td>&#x20b9{{product.product.price * product.quantity}}</td>
                                    </tr>
                                </tbody>
                                <!--<tfoot>
                                    <tr>
                                        <td colspan="6 ">Grand Total: <span>170.98</span></td>
                                    </tr>
                                </tfoot>-->
                            </table>
                            <div class="pull-right ">
                                <p class="text-right ">GRAND TOTAL : <span>&#x20b9 {{grandTotal}}</span></p>

                            </div>
                        </div>
                    </div>
                    <div class=text-right ng-hide="view=='detailTab'">
                        <button class="btn btn--list" ng-disabled="!loggedUser" ng-click="view='detailTab'" ng-class="{
                        'btn--brownActive': view=='detailTab' }"> Next</button>
                    </div>
                    <div class="detail-tab " ng-if="loggedUser&&view=='detailTab' ">
                        <div class="col-md-8 col-md-offset-1 ">
                            <div class="details-form ">
                                <div>
                                    <h3 class="marg0 detail-tab__head ">your details</h3>
                                </div>
                                <div class="row ">
                                    <div class="customized-form ">
                                        <div class="form-group ">
                                            <div class="col-md-4 ">
                                                <input type="text " placeholder="First Name " ng-model="user.firstName
                        " class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-md-4 ">
                                                <input type="text " placeholder="Last Name " ng-model="user.lastName
                        " class="form-control ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="customized-form ">
                                        <div class="form-group ">
                                            <div class="col-md-4 ">
                                                <input type="text " placeholder="Mobile No " ng-model="user.mobile
                        " class="form-control ">
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="col-md-4 ">
                                                <input type="email " placeholder="Email " ng-model="user.email
                        " class="form-control ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="details-form ">
                                <form name="address">
                                    <div class="row ">
                                        <div class="col-md-6 ">
                                            <div>
                                                <h3 class="marg0 detail-tab__head ">billing address</h3>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 1* " ng-model="user.billingAddress.line1
                        " class="form-control " ng-required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 2 " ng-model="user.billingAddress.line2
                        " class="form-control ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 3 " ng-model="user.billingAddress.line3
                        " class="form-control ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="City* " ng-model="user.billingAddress.city
                        " class="form-control " ng-required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Pincode " ng-model="user.billingAddress.pincode
                        " class="form-control " ng-required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <div class=" form-control relate country-selection ">
                                                                <i class="fa fa-angle-down pull-right " aria-hidden="true "></i>
                                                                <select ng-model="user.billingAddress.country " ng-init="user.billingAddress.country = 'India'"  class="checkout-drop relate "> 
                                                                <option ng-repeat="country in countries">{{country.name}}</option>
                                                           
                                                            </select>
                                                            </div>
                                                            <!--<div class="dropdown country-selection form-control custom-checkbox ">
                                                            <button class="btn checkout-drop dropdown-toggle " type="button
                        " data-toggle="dropdown ">Country
                                                              <i class="fa fa-angle-down pull-right " aria-hidden="true "></i></button>
                                                            <ul class="dropdown-menu ">

                                                                <li>India
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="a1 ">
                                                                        <label for="a1 "> India
                                                                               </label>
                                                                    </div>

                                                                </li>

                                                                <li>USA
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="a2 ">
                                                                        <label for="a2 "> USA
                                                                               </label>
                                                                    </div>
                                                                </li>
                                                                <li>London
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="a3 ">
                                                                        <label for="a3 ">London
                                                                               </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                    <div class="customized-form ">
                                                        <div class="form-group ">
                                                            <div class="col-md-10 ">
                                                                <input type="text " placeholder="State " ng-model="user.billingAddress.state
                            " class="form-control " ng-required="true" ng-if="user.billingAddress.country != 'India'">
                            <div  ng-if ="user.billingAddress.country == 'India'" class=" form-control relate country-selection ">
                                    <i class="fa fa-angle-down pull-right " aria-hidden="true "></i>
                                    <select ng-model="user.billingAddress.state " ng-init="user.billingAddress.country = 'India'"  class="checkout-drop relate "> 
                                    <option ng-repeat="state in states">{{state}}</option>
                               
                                </select>
                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-md-6 ">
                                            <div class="custom-checkbox ">
                                                <h3 class="marg0 detail-tab__head ">shipping address</h3>
                                                <div class="checkbox ">
                                                    <input type="checkbox" id="a1 " ng-click="setDeliveryAddress() ">
                                                    <label for="a1 ">Same as BIlling Address</label>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 1* " ng-model="user.deliveryAddress.line1
                        " class="form-control " ng-required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 2 " ng-model="user.deliveryAddress.line2
                        " class="form-control ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Line 3 " ng-model="user.deliveryAddress.line3
                        " class="form-control ">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="City* " ng-model="user.deliveryAddress.city
                        " class="form-control " ng-required='true'>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="Pincode " ng-model="user.deliveryAddress.pincode
                        " class="form-control " ng-required="true">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <div class=" form-control relate country-selection ">
                                                                <i class="fa fa-angle-down pull-right " aria-hidden="true "></i>
                                                                <select class="checkout-drop relate " ng-init="user.deliveryAddress.country = 'India'" ng-model="user.deliveryAddress.country "> 
                                                                        <option ng-repeat="country in countries">{{country.name}}</option>
                                                            </select>
                                                            </div>
                                                            <!--<div class="dropdown country-selection form-control custom-checkbox ">
                                                            <button class="btn checkout-drop dropdown-toggle " type="button
                        " data-toggle="dropdown ">Country
                                                              <i class="fa fa-angle-down pull-right " aria-hidden="true "></i></button>
                                                            <ul class="dropdown-menu ">
                                                                <li>India
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="b1 ">
                                                                        <label for="b1 "> India
                                                                               </label>
                                                                    </div>

                                                                </li>

                                                                <li>USA
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="b2 ">
                                                                        <label for="b2 "> USA
                                                                               </label>
                                                                    </div>
                                                                </li>
                                                                <li>London
                                                                    <div class="checkbox ">
                                                                        <input type="checkbox " id="b3 ">
                                                                        <label for="b3 ">London
                                                                               </label>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="customized-form ">
                                                    <div class="form-group ">
                                                        <div class="col-md-10 ">
                                                            <input type="text " placeholder="State" ng-if="user.deliveryAddress.country != 'India'" ng-model="user.deliveryAddress.state
                            " class="form-control " ng-required="true">

                            <div class=" form-control relate country-selection " ng-if="user.deliveryAddress.country=='India'">
                                    <i class="fa fa-angle-down pull-right " aria-hidden="true "></i>
                                    <select class="checkout-drop relate " ng-init="user.deliveryAddress.country = 'India'" ng-model="user.deliveryAddress.country "> 
                                            <option ng-repeat="state in states">{{state}}</option>
                                </select>
                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="details-form ">
                                <div>
                                    <h3 class="marg0 detail-tab__head ">payment method</h3>
                                </div>
                                <div class="payment-checkbox custom-checkbox ">
                                    <form class="font__style ">
                                        <div class="checkbox checkbox-inline ">
                                            <input type="checkbox" id="p1 ">
                                            <label for="p1 " class="chk__label text-uppercase ">Credit Card</label>
                                        </div>
                                        <div class="checkbox checkbox-inline ">
                                            <input type="checkbox" id="p2 ">
                                            <label for="p2 " class="chk__label text-uppercase ">  Debit card</label>
                                        </div>
                                        <div class="checkbox checkbox-inline ">
                                            <input type="checkbox" id="p3 ">
                                            <label for="p3 " class="chk__label text-uppercase ">net banking</label>
                                        </div>
                                        <div class="checkbox checkbox-inline ">
                                            <input type="checkbox" id="p4 ">
                                            <label for="p4 " class="chk__label text-uppercase ">Cash on delivery</label>
                                        </div>
                                    </form>
                                </div>
                                <div class="text-center ">
                                    <button id="ordergenerate" class="btn btn-default checkout__cont-btn " ng-if="!address.$valid" ng-disabled="true">Continue</button>
                                    <button id="ordergenerate" class="btn btn-default checkout__cont-btn " ng-click="generateOrder()" ng-if="address.$valid">Continue</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="payment-tab ">
			</div>-->
</div>