<div class="checkout">
	<div>
		<img src="" alt="" class="img-responsive">
	</div>
	<div>
		<div class="container">
			<div class="col-md-4">
				<div>
					<button class="btn btn-default btn--brown">Login</button>
				</div>
				<div>
					<button class="btn btn-default btn--brown">Order</button>
				</div>
				<div>
					<button class="btn btn-default btn--brown">Details</button>
				</div>
				<div>
					<button class="btn btn-default btn--brown">Payment</button>
				</div>
			</div>
			<div class="login-tab">
				<div class="col-md-4">
					<form>
						<div class="form-group">
							<input type="text" placeholder="Username">
						</div>
						<div class="form-group">
							<input type="text" placeholder="Password">
						</div>
						<p><a href="">Forgot Password?</a></p>
						<button>log in</button>
						<p>or</p>
					</form>
				</div>
				<div class="col-md-4">
				</div>
			</div>
			<!--<div class="order-tab">
			</div>
			<div class="detail-tab">
			</div>
			<div class="payment-tab">
			</div>-->
		</div>
	</div>
</div>