<div class="checkout">
    <div>
        <img src="img/checkout/checkout-bg.jpg" alt="" class="img-responsive">
    </div>
    <div>
        <div class="container">
            <div class="content-spacing">
                <div class="row">
                    <div class="col-md-3" ng-init="view='loginTab'">
                        <div>
                            <button class="btn btn-default btn--brown btn-block" ng-click="view='loginTab'">Login</button>
                        </div>
                        <div>
                            <button class="btn btn-default btn--brown btn-block" ng-click="view='orderTab'">Order</button>
                        </div>
                        <div>
                            <button class="btn btn-default btn--brown btn-block">Details</button>
                        </div>
                        <div>
                            <button class="btn btn-default btn--brown btn-block">Payment</button>
                        </div>
                    </div>
                    <div class="login-tab" ng-if="view=='loginTab'">
                        <div class="col-md-3 col-md-offset-1">
                            <form class="customized-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control">
                                    <p class="pull-right"><a href="">Forgot Password?</a></p>
                                </div>
                                <div>
                                    <button class="btn btn-default btn--brown btn-block">log in</button>
                                </div>
                                <p class="border-line">or</p>
                                <div class="social-icons">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="social-icons__list fb">
                                                <a href="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list tw">
                                                <a href="">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list gp">
                                                <a href="">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <form class="customized-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Mobile" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Confirm Password" class="form-control">
                                </div>
                                <p>I agree with the terms and conditions and privacy policy</p>
                                <div>
                                    <button class="btn btn-default btn--brown btn-block">sign in</button>
                                </div>
                                <p class="border-line">or</p>
                                <div class="social-icons">
                                    <ul class="list-unstyled list-inline">
                                        <li>
                                            <div class="social-icons__list fb">
                                                <a href="">
                                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list tw">
                                                <a href="">
                                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="social-icons__list gp">
                                                <a href="">
                                                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="order-tab" ng-if="view=='orderTab'">
                        <div class="col-md-9">
                            <table class="table order-table">
                                <thead>
                                    <tr>
                                        <th>item</th>
                                        <th>color</th>
                                        <th>size</th>
                                        <th>quantity</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="myorder in orderTable">
                                        <td>
                                            <div class="item">
                                                <img ng-src="{{myorder.img}}" alt="" class="img-responsive item__img">
                                                <p class="item__title1">{{myorder.title1}}</p>
                                                <p class="item__title2">{{myorder.title2}}</p>
                                            </div>
                                        </td>
                                        <td>{{myorder.color}}</td>
                                        <td>{{myorder.size}}</td>
                                        <td>{{myorder.quantity}}</td>
                                        <td>{{myorder.subtotal}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6"><span>Subtotal: $170.98</span></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="detail-tab">
			</div>
			<div class="payment-tab">
			</div>-->
        </div>
    </div>
</div>