<div class="bg-cs new-arrival">
    <div class="center-div">
        <div class="logo-center">
            <figure>
                <img src="img/comingsoon/logos.png" class="img-responsive" alt="logo">
            </figure>
        </div>
        <div class="new-arrival__title text-center ">
            <h1 class="text-uppercase new-arrival--border--line">coming soon</h1>
            <p>
                <span class="btn contact--btn">Call us: <a  href="tel:+91 8754410505" style="color:#341314">+91 8754410505</a></span>
            </p>
        </div>
    </div>
</div>