<div>
    <img src="img/checkout/checkout-bg.jpg" alt="" class="img-responsive">
</div>
<div class="container">
    <div class="content-spacing">
        <div class="breadCrumbs-letter">
            <ul class="list-unstyled list-inline text-uppercase">
                <li>
                    <a href="">home</a>
                </li>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <li>
                    <a href="">men's wear</a>
                </li>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <li>
                    <a href="">casual shirts</a>
                </li>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
                <li>
                    <a href="">compare products</a>
                </li>
            </ul>
        </div>
        <div class="compare-section">
            <h1 class="compare--borderline">Compare Products</h1>
            <div class="table-responsive compare-table relate">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="5">Product Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Product
                            </td>
                            <td>
                                Amten Prints<br> Half Sleeve Shirt
                            </td>
                            <td>
                                Florence Prints<br> Half Sleeve Shirt
                            </td>
                            <td>
                                Amsler Checks Mens<br> Half Sleeve Shirt
                            </td>
                            <td>
                                Linen Full Sleeve<br> Half Sleeve Shirt
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Image
                            </td>
                            <td>
                                <img src="img/compare/2.jpg" alt="" class="img-responsive compare-img">
                            </td>
                            <td>
                                <img src="img/compare/3.jpg" alt="" class="img-responsive compare-img">
                            </td>
                            <td>
                                <img src="img/compare/4.jpg" alt="" class="img-responsive compare-img">
                            </td>
                            <td>
                                <img src="img/compare/5.jpg" alt="" class="img-responsive compare-img">
                            </td>
                        </tr>
                        <tr>
                            <td>Price</td>
                            <td>&#8377; 2,899</td>
                            <td>&#8377; 2,899</td>
                            <td>&#8377; 2,899</td>
                            <td>&#8377; 2,899</td>
                        </tr>
                        <tr>
                            <td>Product No.</td>
                            <td>G000278-GMSHHS0202-FP-16-22</td>
                            <td>G000278-GMSHHS0202-FP-16-22</td>
                            <td>G000278-GMSHHS0202-FP-16-22</td>
                            <td>G000278-GMSHHS0202-FP-16-22</td>
                        </tr>
                        <tr>
                            <td>Brand</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                        </tr>
                        <tr>
                            <td>Rating</td>
                            <td>
                                <div>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    Based on 0 Reviews
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    Based on 0 Reviews
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    Based on 0 Reviews
                                </div>
                            </td>
                            <td>
                                <div>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                                <div>
                                    Based on 0 Reviews
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Summary</td>
                            <td>
                                <div>
                                    <p>Amten Prints</p>
                                    <p>Half Sleeve Shirts</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>Florence Prints</p>
                                    <p>Half Sleeve Shirts</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>Amsler Checks Mens</p>
                                    <p>Half Sleeve Shirts</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>Linen Full Sleeve</p>
                                    <p>Half Sleeve Shirts</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--<div class="plus-detail">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>-->
                <table class="table table-bordered details-table">
                    <thead>
                        <tr>
                            <th colspan="5">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Brand</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                            <td>Burnt Umber</td>
                        </tr>
                        <tr>
                            <td>Collection</td>
                            <td>Amten Prints</td>
                            <td>Florence Prints</td>
                            <td>Amsler Checks</td>
                            <td>Amsler Checks</td>
                        </tr>
                        <tr>
                            <td>Sleeve</td>
                            <td>Full Sleeve</td>
                            <td>Full Sleeve</td>
                            <td>Full Sleeve</td>
                            <td>Full Sleeve</td>
                        </tr>
                        <tr>
                            <td>56% Cotton 44% Tensel</td>
                            <td>100% Cotton</td>
                            <td>100% Cotton</td>
                            <td>100% Cotton</td>
                            <td>100% Cotton</td>
                        </tr>
                        <tr>
                            <td>Washcare</td>
                            <td>
                                <div>
                                    <p>
                                        Wash Dark Color Seperately. Turn Inside out before washing and drying. Do not bleach. Tumble dry normal. Always Dry in shade.
                                        Use Warm Iron.
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>
                                        Wash Dark Color Seperately. Turn Inside out before washing and drying. Do not bleach. Tumble dry normal. Always Dry in shade.
                                        Use Warm Iron.
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>
                                        Wash Dark Color Seperately. Turn Inside out before washing and drying. Do not bleach. Tumble dry normal. Always Dry in shade.
                                        Use Warm Iron.
                                    </p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>
                                        Wash Dark Color Seperately. Turn Inside out before washing and drying. Do not bleach. Tumble dry normal. Always Dry in shade.
                                        Use Warm Iron.
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Basecolor</td>
                            <td>Blue</td>
                            <td>Blue</td>
                            <td>Blue</td>
                            <td>White</td>
                        </tr>
                        <tr>
                            <td>Gender</td>
                            <td>Male</td>
                            <td>Male</td>
                            <td>Male</td>
                            <td>Male</td>
                        </tr>
                        <tr>
                            <td>Offer</td>
                            <td>Buy 1 Get 1 Free</td>
                            <td></td>
                            <td>Buy 1 Get 1 Free</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <div>
                                    <button class="btn-block btn--brown">buy now</button>
                                </div>
                                <div>
                                    <button class="btn-block btn--brown"><i class="fa fa-trash" aria-hidden="true"></i>remove</button>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>