<div class="error-msg flex-item-container section-tp-bt-padd relate">
    <div class="container">
        <div class="msg-title-section text-center">
            <h2 class="msg-title text-uppercase font-md">OOPS!!<br>something<br><span class="msg-title-focus-text font-rg border-line">went wrong</span></h2>
        </div>
        <div class="msg-action-section flex-item-container text-center">
            <p class="msg-order-status">Your Order ID is <span>#{{orderId}}.</span> An unexpected error has occurred.</p>
            <p><button class="btn msg--btn text-uppercase" ui-sref="myaccount({view: 'orderTab'})">try again</button></p>
        </div>
    </div>
    <div class="brand-img  hidden-xs">
        <img src="../img/big-brand-image.png" class="img-responsive" alt="Brand Image">
    </div>
</div>