<div>
    <div class="giftcard">
        <div class="giftcard-bgimg">
            <img src="frontend/img/giftcard/giftcard-banner.jpg" alt="Banner Image" class="img-responsive">
        </div>
        <div class="container">
            <div class="giftcard-content">
                <form class="customized-form">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="giftcard-padd">
                                <div class="user-detail">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="tab-title text-uppercase">your details</h3>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.data.firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.data.lastName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="number" placeholder="Mobile No" class="form-control" ng-model="userDetails.data.mobile">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.data.email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="giftcard-detail">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="tab-title text-uppercase">GIFT CARD
                                            </h3>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label inr-label"><i class="fa fa-inr"></i></label>
                                                <div class="giftcard-amount inline-block">
                                                    <input type="number" placeholder="Enter Your Gift Card Amount" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="giftcard-padd">
                                <div class="friend-detail">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="tab-title text-uppercase">FRIEND’S DETAILS
                                            </h3>
                                        </div>

                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.data.firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.data.lastName">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="number" placeholder="Mobile No" class="form-control" ng-model="userDetails.data.mobile">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.data.email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="message">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <h3 class="tab-title text-uppercase">MESSAGE
                                            </h3>
                                        </div>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <textarea name="" id="" rows="3" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="addcart-btn">
                        <p class="text-center"><button class="btn addcart--btn text-uppercase">add to cart</button></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>