<!--<div class="container">

    <flex-slider flex-slide="s in mySlides" prev-text="" next-text="">
        <li>
            <img ng-src="{{s}}" class="img-full">
        </li>
    </flex-slider>

    <swiper autoplay="5000" effect="slide" slides-per-view="1" loop="true">
        <slides>
            <slide ng-repeat="s in mySlides">
                <img ng-src="{{s}}" class="img-full" noloading="true">
            </slide>
        </slides>
        <prev></prev>
        <next></next>
        <pagination></pagination>
    </swiper>

    <div class="row">
        <div class="col-md-2" ng-repeat="s in mySlides">
            <a ng-href="{{s}}" rel="gal" fancybox>
                <img ng-src="{{s}}" class="img-full">
            </a>
        </div>
        <div class="col-md-2">
            <a class="various fancybox.iframe" href="http://www.youtube.com/embed/L9szn1QQfas?autoplay=1" fancybox><img ng-src="http://img.youtube.com/vi/L9szn1QQfas/maxresdefault.jpg" class="img-full"></a>
        </div>
    </div>

</div>-->
<section>
    <div class="cloth-cat">
        <flex-slider flex-slide="cloth in clothCat track by $index" prev-text="" next-text="" animation="slide">
            <li>
                <div class=" cloth-cat__banner-detail relate">
                    <a href="{{cloth.extLink}}" target="_blank">
                        <img ng-src="{{cloth.image | serverimage}}" alt="" class="img-responsive">
                    </a>

                    <!--<div class="get-center text-uppercase">
                        <h1>{{cloth.name}}</h1>
                        <h3>{{cloth.desc}}</h3>
                        <p>
                            <a ng-href="{{cloth.extLink}}"> <button ng-href="{{cloth.extLink}}" class="btn shop--now">Shop Now</button></a>
                        </p>
                    </div>-->
                </div>
            </li>
            <div class="custom-flex-nav">
                <ul class="flex-direction-nav">
                    <li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li>
                    <li class="flex-nav-next"><a class="flex-next" href="#"></a></li>
                </ul>
            </div>

            <!--<div class="cloth-cat__descrp">
                <h1>{{cloth.shirtType}}</h1>
                <h3>{{cloth.disc}}</h3>
                <p><button class="btn shop--now">{{cloth.buttonText}}</button></p>
            </div>-->
        </flex-slider>
    </div>
    <!--<div class="flex-container">
		<div class="block">
			<img src="img/home/675273.jpg" alt="" class="img-responsive">
		</div>
		<div class="block">2</div>
		<div class="block">3</div>
		<div class="block">4</div>
		<div class="block">5</div>
	</div>-->
</section>
<!--start of All Categorie-->
<section>
    <div class="all-categorie">
        <ul class="list-inline list-unstyled">
            <li class="all-categorie__dimension" ng-repeat="HomePageBlock in HomePageBlocks">
                <div class="padd" ng-if="HomePageBlock.isView==true">
                    <a href="{{HomePageBlock.extLink}}" target="_blank"><img ng-src="{{HomePageBlock.imgLink | serverimage}}" alt="" class="img-responsive"></a>
                    <!--<a ui-sref="listing-page({id: HomePageBlock.slug})"><img ng-src="{{HomePageBlock.imgLink | serverimage}}" alt="" class="img-responsive"></a>-->
                </div>
            </li>
        </ul>
    </div>
</section>
<!--End of All Categorie-->
<!--start of new arrivals-->
<section class="new-arrival">
    <div class="new-arrival__title text-center ">
        <h1 class="text-uppercase new-arrival--border--line homepg-title">new arrivals</h1>
    </div>
    <div class="new-arrival__img">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9 col-sm-9 pull-right padd-rt0">
                    <div class="new-arrival__slider">
                        <flex-slider flex-slide="newArrival in newArrivals track by $index" prev-text="" next-text="" animation="slide" item-width="220"
                            item-margin="20" min-items="3">
                            <li>
                                <!-- <div class="test">
                                    <ul class="flex-direction-nav">
                                        <li class="flex-nav-prev"><a class="flex-prev" href="#"></a></li>
                                        <li class="flex-nav-next"><a class="flex-next" href="#"></a></li>
                                    </ul>
                                </div> -->
                                <div class=" new-arrival__banner-detail ">
                                    <div class="relate">
                                        <img ng-src="{{newArrival.images[0].image | serverimage}}" alt="" class="img-responsive" ui-sref="individual-page({id: newArrival.productId})">
                                        <div class="featured__icon-cart" ng-if="checkInCart(newArrival.productId)">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                        <div class="featured__icon-heart">
                                            <i ng-class="checkWishlist(newArrival.productId)" aria-hidden="true" ng-click="addRemoveToWishlist(newArrival)"></i>
                                        </div>
                                    </div>
                                    <div class="get-left">
                                        <h3 class="homepg-slider-product-cost"><i class="fa fa-inr" aria-hidden="true"></i>{{newArrival.price |number:0}}</h3>
                                        <h4 class="homepg-slider-product-name text-uppercase">{{newArrival.productName}}</h4>
                                        <div class="abslt-buynow-btn">
                                            <buttton class="btn buynow--btn text-uppercase" ui-sref="individual-page({id: newArrival.productId})">buy</buttton>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end of new arrivals-->
<!--start of Featured Cloth section-->
<section ng-if="featuredVisible">
    <div class="featured relate">
        <div class="container">
            <div class="row">
                <div class="featured__title text-center">
                    <h1 class="homepg-title text-uppercase featured--border--line">featured</h1>
                </div>
            </div>
            <div class="featured__slider">
                <flex-slider flex-slide="new in featured track by $index" prev-text="" next-text="" animation="slide" item-width="260" item-margin="25"
                    min-items="3">
                    <li class="relate">
                        <div class="featured__banner-detail relate">
                            <img ng-src="{{new.images[0].image | serverimage}}" alt="" class="img-responsive" ui-sref="individual-page({id: new.productId})">
                            <div class="featured__cloth-desc">
                                <h3 class="homepg-slider-product-cost"><i class="fa fa-inr" aria-hidden="true"></i>{{new.price |number:0}}</h3>
                                <h4 class="homepg-slider-product-name text-uppercase">{{new.productName}}</h4>
                            </div>
                            <div class="featured__icon-heart">
                                <i ng-class="checkWishlist(new.productId)" aria-hidden="true" ng-click="addRemoveToWishlist(new)"></i>
                            </div>
                            <div class="featured__icon-cart" ng-if="checkInCart(new.productId)">
                                <i class="fa fa-shopping-cart" aria-hidden="true" data-toggle="tooltip" title="Added to cart"></i>
                            </div>
                            <div class="abslt-buynow-btn">
                                <buttton class="btn buy--btn text-uppercase" ui-sref="individual-page({id: new.productId})">buy</buttton>
                            </div>
                        </div>
                    </li>
                </flex-slider>
                <div class="viewmore-btn text-center">
                    <button class="btn text-uppercase view--more" ui-sref="listing-page">view more</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Featured Cloth section-->
<!--Start of Cloth Buy section-->
<section>
    <div class="cloth-buy relate">
        <div class="container">
            <div class="row">
                <div class="col-md-7 paddrt hidden-sm hidden-xs">
                    <img ng-src="{{getthelook.majorImage | serverimage}}" alt="" class="img-responsive">
                </div>
                <div class="col-md-5 col-sm-12 paddlt">
                    <div class="cloth-buy__title text-center">
                        <h1 class="homepg-title text-uppercase cloth-buy--border--line">buy the look</h1>
                    </div>
                    <div class="cloth-buy__desc relate">
                        <h2 class="mg-top-zero text-uppercase">{{getthelook.title}}</h2>
                        <p class="line--height">{{getthelook.description}}
                        </p>
                        <p>
                            <button class="btn text-uppercase buy--now" ui-sref="buythelook({id: getthelook._id})">buy now</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End of Cloth Buy section-->
<!--Start of Blog section-->
<article>
    <div class="blog">
        <div class="container">
            <div class="blog__title text-center">
                <h1 class="homepg-title text-uppercase blog--border--line">blogs</h1>
            </div>
            <div class="blog__slider">
                <flex-slider flex-slide="blog in blogs track by $index" prev-text="" next-text="" animation="slide" item-width="400" min-items="3">
                    <li class="relate">
                        <article class="blog__banner-detail relate">
                            <a ui-sref="inner-blogs({id:blog._id})"> <img ng-src="{{blog.image | serverimage}}" alt="" class="img-responsive"></a>

                            <div class="blog__desc">
                                <h3 class="text-uppercase">{{blog.name}}</h3>
                                <p class="typedin-desc" ng-bind-html="blog.description"></p>
                                <p class="relate extra-content"><a ui-sref="inner-blogs({id:blog._id})">Read more</a></p>
                            </div>
                        </article>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>
</article>
<!--End of Blog section-->
<!--Start of Sale section-->
<section>
    <div class="sale relate">
        <div class="container">
            <div class="sale__title text-center">
                <h1 class="homepg-title text-uppercase sale--border--line">sale</h1>
            </div>
            <div class="sale__slider">
                <flex-slider flex-slide="new in sale track by $index" prev-text="" next-text="" animation="slide" item-width="215" item-margin="25"
                    min-items="3">
                    <li class="relate">
                        <div class="sale__banner-detail relate">
                            <img ng-src="{{new.images[0].image | serverimage}}" alt="" class="img-responsive">
                            <div class="sale__cloth-desc">
                                <h4 class="text-uppercase">{{new.productName}}</h4>
                                <h3><i class="fa fa-inr" aria-hidden="true"></i>{{new.price |number:0}}</h3>
                                <div class="abslt-buynow-btn">
                                    <!--<buttton class="btn buybtn text-uppercase"  ui-sref="individual-page({id: new._id})">View</buttton>-->
                                    <buttton class="btn buy--btn text-uppercase" ui-sref="individual-page({id: new.productId})">View</buttton>
                                </div>
                            </div>

                        </div>
                    </li>
                </flex-slider>
                <div ng-show="visible">
                    <p class="text-center">
                        <button class="btn text-uppercase view--more">view more</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="absolute hidden-sm hidden-xs">
            <img src="../img/home/Individual_Product Page.png" alt="img" class="img-responsive">
        </div>
    </div>
</section>
<!--End of Sale section-->