<div class="listing-img">
    <img ng-src="{{banner | serverimage}}">
</div>
<div class="container">
    <div class="listing-container">

        <div class="row">
            <div class="col-md-3">
                <div class="border-div">
                    <ul class="list-breadcrumb list-unstyled list-inline">
                        <li class="text-uppercase" ui-sref="home" href="#!/">HOME</li> <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <li class="text-uppercase">Mens Wear</li> <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <li class="text-uppercase">casual shirt</li>
                    </ul>
                </div>
                <div class="sec-one common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">category
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <!--<div ng-repeat="category in categories" class="checkbox">
                                <input type="checkbox" id="{{category._id}}">
                                <label for="{{category._id}}"> {{category.name}}
                               </label>
                            </div>-->
                            <div class="checkbox" ng-repeat="category in categories">
                                <div class="radio">
                                    <input type="radio" class="form-control" name="radio" id="category._id">
                                    <label for="category._id"> <span class="casual"></span>{{category.name}}
                                         
                                       </label>
                                    <!--<input type="radio" class="form-control" name="radio">
                                    <label for="radio2"> <span></span> Tshirt
                                        
                                       </label>
                                    <input type="radio" class="form-control" name="radio">
                                    <label for="radio3">  <span></span>   Trouser
                                     
                                       </label>-->
                                </div>
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-second common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">type
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox" ng-repeat="type in filters.types">
                                <input type="checkbox" id="b1">
                                <label for="b1">{{type.name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-third common-Accordian border-div relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">price range
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="range-slider">
                                <rzslider rz-slider-model="filters.priceRange[0].min" rz-slider-high="filters.priceRange[0].max" rz-slider-options="slider_translate.options"></rzslider>
                                <span class="rupee-count pull-left">Rs{{filters.priceRange[0].min}}-&#8377;</span>
                                <span class="rupee-count pull-right">Rs{{filters.priceRange[0].max}}</span>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-fourth common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Collections
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox" ng-repeat="collection in filters.collections">
                                <input type="checkbox" id="{{collection._id}}">
                                <label for="{{collection._id}}">{{collection.name}}
                               </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-fifth common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Choose Size
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox" ng-repeat="size in filters.sizes">
                                <input type="checkbox" id="{{size._id}}">
                                <label for="{{size._id}}">
                                     {{size.description}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-six common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Sleeves
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="e1">
                                <label for="e1">
                                     Full Sleeve
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="e2">
                                <label for="e2">
                                    Half Sleeve
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-seven common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Base color
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox" ng-repeat="baseColor in filters.colors">
                                <input type="checkbox" id="f1">
                                <label for="f1">
                                 {{baseColor.name}}
                               </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-eight common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Fabric
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox" ng-repeat="fabric in filters.fabrics">

                                <input type="checkbox" id="g1">
                                <label for="g1">
                                    {{fabric.name}}
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-nine common-Accordian custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Discount
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">

                                <input type="checkbox" id="h1">
                                <label for="h1"> Buy 1 Get 1 Free<img src="img/listing/shirt.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h2">
                                <label for="h2"> Buy 2 Get 20% Off<img src="img/listing/lable.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h3">
                                <label for="h3">Free gift<img src="img/listing/gift.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h4">
                                <label for="h4"> Flat 50% off<img src="img/listing/percent.png" class="img-responsive">
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="Addtocompare" ng-if="showCheck">
                        <div class="col-md-3" ng-repeat="compare in compareproduct">
                            <div class="compare-img-list">
                                <img ng-src="{{compare.images[0].image | serverimage}}" class="img-responsive">

                                <p>{{compare.productName}}</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/3.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/4.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/5.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn--compare" ng-click="gotoComparePage()">COMPARE</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="listing-main">
                        <div class="dropdown listing-dropdown">
                            <button type="button" class="btn btn-listing dropdown-toggle" data-toggle="dropdown">Sort by<i class="fa fa-reg" aria-hidden="true"></i><required></required></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">brand</a></li>
                                <li><a href="#">color</a></li>
                                <li><a href="#">price</a></li>
                            </ul>
                            <div class="pull-right">
                                <div class="inline-block img-w">
                                    <img src="img/listing/listing.png" class="img-responsive">
                                </div>
                                <div class="inline-block img-w">
                                    <img src="img/listing/squares30.png" class="img-responsive">
                                </div>
                            </div>
                        </div>


                        <div class="row" ng-repeat="row in products">
                            <div class="col-md-4" ng-repeat="product in row" ng-init="parentIndex = $index">
                                <div class="buy-info custom-checkbox">
                                    <div class="buy-slider slider-individual list-slider">
                                        <flex-slider flex-slide="image in product.images track by $index" prev-text="" next-text="" animation="slide" min-items="3">
                                            <li>
                                                <div class="list-slider__toolTip">
                                                    <!--<a toolTip="{{buy.toolTip}}"><img ng-src="{{image | serverimage}}" class="img-rsponsive img1">
                                                    </a>-->
                                                </div>
                                                <a ui-sref="individual-page({id: product.productId})">
                                                    <img ng-src="{{image.image | serverimage}}" class="img-rsponsive img1" title="{{product.productName}}">
                                                </a>
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <img ng-src="{{buy.img}}" class="img-responsive" ng-mouseover="displayCntent();" ng-mouseleave="hideContent();">
                                            </li>
                                        </flex-slider>
                                        <div class="buy-para">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{product.price}}</h4>
                                            <h5>{{product.productName}} <br>{{product.type.name}}</h5>
                                            <div class="viewSize">
                                                <div class="inline-block">
                                                    <p>Size:</p>
                                                </div>
                                                <div class="inline-block buy-para__sizes">
                                                    <p>36</p>
                                                    <p>38</p>
                                                    <p>40</p>
                                                    <p>42</p>
                                                    <p>44</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--<p><input type="checkbox"> Add to compare</p>-->
                                            <div class="checkbox inline-block marg0">
                                                <input type="checkbox" id="{{product._id}}" ng-model="myVarss" ng-click="clickfun(product);">
                                                <label for="{{product._id}}">
                                          Add to compare
                                        </label>
                                            </div>
                                            <div class="buy-para__button">
                                                <div class="inline-block ">
                                                    <a ui-sref="individual-page({id: product.productId})">
                                                        <button class="btn btn-default buy--btn text-uppercase">buy</button>
                                                    </a>
                                                </div>
                                                <div class=" inline-block ">
                                                    <button class="btn btn-default view--btn text-uppercase ">view more</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>