<div class="listing-img">
</div>
<div class="container">
    <div class="listing-container">

        <div class="row">
            <div class="col-md-3">
                <div class="border-div">
                    <ul class="list-breadcrumb list-unstyled list-inline">
                        <li class="text-uppercase" ui-sref="home" href="#!/">HOME</li> <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <li class="text-uppercase">Mens Wear</li> <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <li class="text-uppercase">casual shirt</li>
                    </ul>
                </div>
                <div class="sec-one common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">category
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="a1">
                                <label for="a1"> Casual Shirt
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="a2">
                                <label for="a2">T-Shirts
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="a3">
                                <label for="a3"> Trouser
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-second common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">type
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="b1">
                                <label for="b1">Lose Angeles Twill
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b2">
                                <label for="b2">Amsler Checks
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b3">
                                <label for="b3">
                                    Indogo Print
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b4">
                                <label for="b4">
                                    Amsler Print
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b5">
                                <label for="b5">
                                     Paris Plaids
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b6">
                                <label for="b6">
                                    Florence Print
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b7">
                                <label for="b7">
                                    Linen prints
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b8">
                                <label for="b8">
                                     Denim Indigo Chambay
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b9">
                                <label for="b9">
                                     Oxport Prints
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="b10">
                                <label for="b10">
                                     Pima Lawn
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-third common-Accordian border-div relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">price range
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="range-slider">
                                <rzslider rz-slider-model="slider_translate.minValue" rz-slider-high="slider_translate.maxValue" rz-slider-options="slider_translate.options"></rzslider>
                                <span class="rupee-count pull-left">Rs{{slider_translate.minValue}}-&#8377;</span>
                                <span class="rupee-count pull-right">Rs{{slider_translate.maxValue}}</span>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-fourth common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Collections
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="c1">
                                <label for="c1">Amsler Checks
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c2">
                                <label for="c2">
                            Amsler Print
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c3">
                                <label for="c3">
                                 Amten Print
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c4">
                                <label for="c4">
                                 Denim Indigo Chambray
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c5">
                                <label for="c5">
                                 Indigo Amsler
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c6">
                                <label for="c6">
                                 Indigo prints
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="c7">
                                <label for="c7">
                                Linen
                               </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-fifth common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Choose Size
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="d1">
                                <label for="d1">
                                     42Cms-LS-Slim-Fit
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="d2">
                                <label for="d2">
                                     40Cms-MS-Slim-Fit
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="d3">
                                <label for="d3">
                                      39Cms-SS-Slim-Fit
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="d4">
                                <label for="d4">
                                      44Cms-XL-Regular-Fit
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="d5">
                                <label for="d5">
                                     42Cms-LR-Regular-Fit
                                </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="d6">
                                <label for="d6">
                                     46Cms-2XL-Regular-Fit
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-six common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Sleeves
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="e1">
                                <label for="e1">
                                     4Full Sleeve
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="e2">
                                <label for="e2">
                                    Half Sleeve
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-seven common-Accordian border-div scoll-on custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Base color
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">
                                <input type="checkbox" id="f1">
                                <label for="f1">
                                 Beige
                               </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f2">
                                <label for="f2">
                            Black
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f3">
                                <label for="f3">
                             Blue
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f4">
                                <label for="f4">
                            Brown
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f5">
                                <label for="f5">
                            Green
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f6">
                                <label for="e2">
                            Grey
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f7">
                                <label for="f7">
                            Ivory
                              </label>
                            </div>
                            <div class="checkbox">
                                <input type="checkbox" id="f8">
                                <label for="f8">
                            Maroon
                              </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-eight common-Accordian border-div custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Fabric
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">

                                <input type="checkbox" id="g1">
                                <label for="g1">
                                    56% Cotton 44% Tensel
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="g2">
                                <label for="g2">
                                    100% cotton
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="g3">
                                <label for="g3">
                                     100% Linen
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
                <div class="sec-nine common-Accordian custom-checkbox relate">
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="hidebordercolor panel-default " is-open="status.open1">
                            <uib-accordion-heading>
                                <h5 class="text-uppercase">Discount
                                    <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
                                </h5>
                            </uib-accordion-heading>
                            <div class="checkbox">

                                <input type="checkbox" id="h1">
                                <label for="h1"> Buy 1 Get 1 Free<img src="img/listing/shirt.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h2">
                                <label for="h2"> Buy 2 Get 20% Off<img src="img/listing/lable.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h3">
                                <label for="h3">Free gift<img src="img/listing/gift.png" class="img-responsive">
                                </label>
                            </div>
                            <div class="checkbox">

                                <input type="checkbox" id="h4">
                                <label for="h4"> Flat 50% off<img src="img/listing/percent.png" class="img-responsive">
                                </label>
                            </div>
                        </div>
                    </uib-accordion>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="Addtocompare" ng-if="showCheck">
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/2.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/3.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/4.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="compare-img-list">
                                <img src="img/listing/5.jpg" class="img-responsive">

                                <p>Linen full Sleeve shirt with rollup</p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn--compare">COMPARE</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="listing-main">
                        <div class="dropdown listing-dropdown">
                            <button type="button" class="btn btn-listing dropdown-toggle" data-toggle="dropdown">Sort by<i class="fa fa-reg" aria-hidden="true"></i><required></required></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">brand</a></li>
                                <li><a href="#">color</a></li>
                                <li><a href="#">price</a></li>
                            </ul>
                            <div class="pull-right">
                                <div class="inline-block img-w">
                                    <img src="img/listing/listing.png" class="img-responsive">
                                </div>
                                <div class="inline-block img-w">
                                    <img src="img/listing/squares30.png" class="img-responsive">
                                </div>
                            </div>
                        </div>


                        <div class="row" ng-repeat="abc in myShirt11">
                            <div class="col-md-4" ng-repeat="xyz in abc" ng-init="parentIndex = $index">
                                <div class="buy-info custom-checkbox">
                                    <div class="buy-slider slider-individual list-slider">
                                        <flex-slider flex-slide="buy in xyz track by $index" prev-text="" next-text="" animation="slide" min-items="3">
                                            <li>
                                                <div class="list-slider__toolTip">
                                                    <a toolTip="{{buy.toolTip}}"><img ng-src="{{buy.img1}}" class="img-rsponsive img1"></a>
                                                </div>
                                                <!--<img ng-src="{{buy.img1}}" class="img-rsponsive img1" title="sudd">-->
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <img ng-src="{{buy.img}}" class="img-responsive" ng-mouseover="displayCntent();" ng-mouseleave="hideContent();">
                                            </li>
                                        </flex-slider>
                                        <div class="buy-para">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{xyz[0].rupee}}</h4>
                                            <h5>{{xyz[0].title}} <br>{{xyz[0].title1}}</h5>
                                            <div class="viewSize">
                                                <div class="inline-block">
                                                    <p>Size:</p>
                                                </div>
                                                <div class="inline-block buy-para__sizes">
                                                    <p>36</p>
                                                    <p>38</p>
                                                    <p>40</p>
                                                    <p>42</p>
                                                    <p>44</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--<p><input type="checkbox"> Add to compare</p>-->
                                            <div class="checkbox inline-block marg0">
                                                <input type="checkbox" id="{{xyz[0].id}}" ng-model="myVarss" ng-click="clickfun();">
                                                <label for="{{xyz[0].id}}">
                                          Add to compare
                                        </label>
                                            </div>
                                            <div class="buy-para__button">
                                                <div class="inline-block ">
                                                    <button class="btn btn-default buy--btn text-uppercase">buy</button>
                                                </div>
                                                <div class="inline-block">
                                                    <button class="btn btn-default  view--btn text-uppercase">view more</button>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>