<div class="usr-account">
    <div>
        <img src="fronend/img/" alt="" class="img-responsive">
    </div>
    <div class="container">
        <div class="content-spacing">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-checkout">
                        <button class="btn btn--list" ng-disabled="loggedUser" ng-click="view='profTab'" ng-class="{
                        'btn--brownActive': view=='profTab' }">PROFILE</button>
                        <div>
                            <button class="btn btn--list" ng-click="view='addrTab'" ng-class="{
                        'btn--brownActive': view=='addrTab' }">MANAGE ADDRESS</button>
                        </div>
                        <div>
                            <button class="btn btn--list" ng-click="view='orderTab'" ng-class="{
                        'btn--brownActive': view=='orderTab' }"> ORDER</button>
                        </div>
                        <div>
                            <button class="btn btn--list" ng-click="view='wishlistTab'" ng-class="{
                        'btn--brownActive': view=='wishlistTab' }">WISHLIST</button>
                        </div>
                    </div>
                </div>
                <div class="prof-tab" ng-if="view == 'profTab' ">
                    <!--To open profile Tab-->
                    <div class="col-md-5">
                        <div class="usrdtl-title">
                            <h3 class="tab-title">YOUR DETAILS
                                <a href="" class="linking"><span ng-click="edit()" ng-if="!save">edit</span></a>
                                <a href="" class="linking"><span ng-if="save" ng-click="edit()">save</span></a>
                            </h3>
                        </div>

                        <div class="usrdtl" ng-if="!save">
                            <p class="usrdtl-info">Name: <span class="text-capitalize left-space">{{userDetails.data.firstName}} {{userDetails.data.lastName}}</span><br>                                Email id: <span class="text-capitalize left-space">{{userDetails.data.email}}</span><br>                                Mobile:
                                <span class="text-capitalize left-space">{{userDetails.data.mobile}}</span>
                            </p>

                            <p class="usrdtl-info">Member’s Current Status : <strong class="text-uppercase">gold</strong></p>
                            <p class="usrdtl-info">Want to change your password? <a href="#" class="linking">CLICK HERE</a></p>
                        </div>
                        <div class="edit-dtl" ng-if="save">
                            <div class="row">
                                <form class="customized-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.data.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.data.lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="number" placeholder="Mobile No" class="form-control" ng-model="userDetails.data.mobile">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.data.email">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addr-tab" ng-if="view == 'addrTab' ">
                    <!--To open Manage Address Tab-->
                    <div class="col-md-4" ng-if="!save" ng-repeat="shippingAdd in userDetails.data.shippingAddresses">
                        <div class="manage-addrs custom-checkbox">
                            <p class="usrdtl-info"><span class="usr-name text-capitalize">{{userDetails.data.firstName}} {{userDetails.data.lastName}}</span>                                {{userDetails.data.mobile}}
                                <br>{{userDetails.data.email}}</p>
                            <address class="usrdtl-info">{{shippingAdd.line1}}<br>
                                <span class="text-capitalize city">{{shippingAdd.city}}</span>{{shippingAdd.pinCode}}<br>{{shippingAdd.country}}</address>
                            <div class="checkbox usrdtl-info">
                                <input type="checkbox" id="x1">
                                <label for="x1">Use this as default shipping address</label>
                            </div>
                            <p><button class="btn address-edit-btn" ng-click="edit()">Edit</button> <button class="btn address-delt-btn">Delete</button></p>
                        </div>
                    </div>
                    <div class="edit-addrs" ng-if="save">
                        <!--To open Edit Address Tab-->
                        <div class="col-md-9">
                            <h3 class="tab-title text-uppercase">your details</h3>
                            <form class="customized-form">
                                <div class="usr-edit-detail">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.data.firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.data.lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="number" placeholder="Mobile Number" class="form-control" ng-model="userDetails.data.mobile">
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.data.email">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3 class="tab-title text-uppercase">shipping address</h3>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 1*" class="form-control" ng-model="userDetails.data.shippingAddresses[0].line1">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 2" class="form-control" ng-model="userDetails.data.shippingAddresses[0].line2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 3" class="form-control" ng-model="userDetails.data.shippingAddresses[0].line3">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 4" class="form-control" ng-model="userDetails.data.shippingAddresses[0].line4">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="City" class="form-control" ng-model="userDetails.data.shippingAddresses[0].city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="number" placeholder="Pincode" class="form-control" ng-model="userDetails.data.shippingAddresses[0].pincode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group state-dropdown" uib-dropdown>
                                            <button class="btn state-dropdown--btn" type="button" uib-dropdown-toggle>State <span class="caret"></span></button>
                                            <ul class="state-dropdown-menu dropdown-menu" uib-dropdown-menu role="menu">
                                                <li role="menuitem"><a href="#">Action</a></li>
                                                <li role="menuitem"><a href="#">Another action</a></li>
                                                <li role="menuitem"><a href="#">Something else here</a></li>
                                                <li role="menuitem"><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Country" class="form-control" ng-model="userDetails.data.shippingAddresses[0].country">
                                        </div>
                                    </div>
                                </div>
                                <p><button class="btn save--btn text-uppercase" ng-if="save" ng-click="edit()">save</button>
                                    <button class="btn delt--btn text-uppercase">delete</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order-tab" ng-if="view == 'orderTab' ">
                    <!--To open an Order Tab-->
                    <div class="col-md-9">
                        <p class="text-uppercase text-center">
                            <button class="btn order-list--btn" ng-click="view='orders'" ng-class="{
                        'btn--brownActive': view=='orders' }">orders </button>
                            <button class="btn order-list--btn" ng-click="view='return'" ng-class="{
                        'btn--brownActive': view=='return' }">return/exchange</button>
                            <button class="btn order-list--btn" ng-click="view='cancel'" ng-class="{
                        'btn--brownActive': view=='cancel' }">cancelled</button>
                        </p>
                        <div class="account-order-table" ng-if="view == 'orders'">
                            <table class="table" ng-repeat="order in orders">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed<br><strong>{{order.createdAt | date:'dd/MM/yyyy'}}</strong></th>
                                        <th>order no.<br><strong>{{order.orderNo}}</strong></th>
                                        <th>order-satus<br><strong>{{order.orderStatus}}</strong></th>
                                        <th>tracking id<br><strong>updating</strong></th>
                                        <th>Grand total<br><strong>&#8377; {{order.totalAmount}}</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="relate" ng-repeat="product in order.products">
                                        <td colspan="3">
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img inline-block">
                                                <img ng-src="{{product.product.images[0].image|serverimage}}" alt="Ordered Item" class="img-responsive">
                                            </div>
                                            <div class="inline-block">
                                                <h4 class="item-name text-uppercase">{{product.product.productName}}</h4>
                                                <p class="item-code"><span class="text-capitalize">Product Code:</span><span class="text-uppercase"> {{product.product.name}}</span>
                                                </p>
                                                <p class="item-cost"><i class="fa fa-inr"></i>{{product.product.price}}</p>
                                            </div>
                                            <div class="comment">
                                                <p class="item-code">Comment: {{product.comment}}.</p>
                                                <hr class="table-divider">
                                            </div>
                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">Cancel purchase
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">order details
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">download Invoice
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="account-order-table" ng-if="view == 'return'">
                            <table class="table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed</span><br><strong>1 march 2017</strong></th>
                                        <th>order no.<br><strong>#123-45678 90123</strong></th>
                                        <th>order-satus<br><strong>returned</strong></th>
                                        <th>Grand total<br><strong>&#8377; 2899</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img">
                                                <img src="frontend/img/individual/6.jpg" alt="Ordered Item" class="img-responsive">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="item-name text-uppercase">Linen Full Sleeve Shirt With Rollup</h4>
                                            <p class="item-code">Product Code:<span class="text-uppercase"> G000278-GMSHHS0198-AMTEN-02</span>
                                            </p>
                                            <p class="item-cost"><i class="fa fa-inr"></i>2,899</p>

                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">order details
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">buy it again
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="account-order-table" ng-if="view == 'cancel'">
                            <table class="table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed<br><strong>1 march 2017</strong></th>
                                        <th>order no.<br><strong>#123-45678 90123</strong></th>
                                        <th>order-satus<br><strong>returned</strong></th>
                                        <th>Grand total<br><strong>&#8377; 2899</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img">
                                                <img src="frontend/img/individual/6.jpg" alt="Ordered Item" class="img-responsive">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="item-name text-uppercase">Linen Full Sleeve Shirt With Rollup</h4>
                                            <p class="item-code">Product Code:<span class="text-uppercase"> G000278-GMSHHS0198-AMTEN-02</span>
                                            </p>
                                            <p class="item-cost">
                                                <i class="fa fa-inr"></i>2,899
                                            </p>
                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">buy it again
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="wishlist-tab" ng-if="view == 'wishlistTab' ">
                    <div class="col-md-9">
                        <div class="row" ng-repeat="wishlist in wl">
                            <div class="col-md-3" ng-repeat="xyz in wishlist" ng-init="parentIndex = $index">
                                <div class="buy-info">
                                    <div class="buy-slider">
                                        <flex-slider flex-slide="buy in xyz.images track by $index" prev-text="" next-text="" animation="slide" min-items="3">
                                            <li>
                                                <i class="fa fa-heart" aria-hidden="true" ng-click="addwishlist();"></i>
                                                <img ng-src="{{buy.image | serverimage}}" class="img-responsive" ng-click="addcart();">
                                            </li>
                                        </flex-slider>
                                        <div class="buy-para custom-checkbox">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{xyz.price}}</h4>
                                            <h5 class="text-uppercase">{{xyz.productName}}</h5>
                                            <hr>
                                            <div class="checkbox inline-block marg0" ng-click="remove();">
                                                <input type="checkbox" id="{{xyz.productId}}">
                                                <label for="{{xyz.productId}}">
                                          Add to compare
                                        </label>
                                            </div>
                                            <button class="btn btn-default btn--brown text-uppercase" ng-click="forgot();">buy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>