<div class="usr-account">
    <div>
        <img src="fronend/img/" alt="" class="img-responsive">
    </div>
    <div class="container">
        <div class="content-spacing">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-checkout">
                        <button class="btn btn--list" ng-disabled="loggedUser" ng-click="view='profTab'" ng-class="{
                        'btn--brownActive': view=='profTab' }">PROFILE</button>
                        <div>
                            <button class="btn btn--list" ng-click="view='addrTab'" ng-class="{
                        'btn--brownActive': view=='addrTab' }">MANAGE ADDRESS</button>
                        </div>
                        <div>
                            <button class="btn btn--list" ng-click="view='orderTab'" ng-class="{
                        'btn--brownActive': view=='orderTab' }"> ORDER</button>
                        </div>
                        <div>
                            <button class="btn btn--list" ng-click="view='wishlistTab'" ng-class="{
                        'btn--brownActive': view=='wishlistTab' }">WISHLIST</button>
                        </div>
                    </div>
                </div>
                <div class="prof-tab" ng-if="view == 'profTab' ">
                    <!--To open profile Tab-->
                    <div class="col-md-5">
                        <div class="usrdtl-title">
                            <span>YOUR DETAILS</span>
                            <a href=""><span ng-click="edit()" ng-if="!save">edit</span></a>
                            <a href=""><span ng-if="save" ng-click="edit()">save</span></a>
                        </div>
                        <div ng-if="!save">
                            <div class="usrdtl">
                                <span>Name: {{userDetails.firstName}} {{userDetails.lastName}}</span><br>
                                <span>Email id: {{userDetails.email}}</span><br>
                                <span>Mobile: {{userDetails.mobNo}}</span>
                            </div>
                            <p>Member’s Current Status : <span class="text-uppercase">gold</span></p>
                            <p>Want to change your password? <a href="#">CLICK HERE</a></p>
                        </div>
                        <div class="edit-dtl" ng-if="save">
                            <div class="row">
                                <form class="customized-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.lastName">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" placeholder="Mobile No" class="form-control" ng-model="userDetails.mobNo">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.email">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="addr-tab" ng-if="view == 'addrTab' ">
                    <!--To open Manage Address Tab-->
                    <div class="col-md-4" ng-if="!save">
                        <div class="manage-addrs">
                            <p><span class="user-name">{{userDetails.firstName}}</span>, {{userDetails.mobNo}}<br>{{userDetails.email}}</p>
                            <address>{{userDetails.address1}}<br>{{userDetails.city}}-{{userDetails.pinCode}}<br>{{userDetails.country}}</address>
                            <div class="checkbox custom-checkbox">
                                <label for=""><input type="checkbox">Use this as default shippiong address</label>
                            </div>
                            <p><button class="btn address-edit-btn" ng-click="edit()">Edit</button> <button class="btn address-delt-btn">Delete</button></p>
                        </div>
                    </div>
                    <div class="edit-addrs" ng-if="save">
                        <!--To open Edit Address Tab-->
                        <div class="col-md-9">
                            <span class="text-uppercase">your details</span>
                            <form class="customized-form">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" placeholder="First Name" class="form-control" ng-model="userDetails.firstName">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" placeholder="Last Name" class="form-control" ng-model="userDetails.lastName">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="text" placeholder="Mobile Number" class="form-control" ng-model="userDetails.mobNo">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <input type="email" placeholder="Email Address" class="form-control" ng-model="userDetails.email">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <span class="text-uppercase">shipping address</span>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 1*" class="form-control" ng-model="userDetails.address1">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 2" class="form-control" ng-model="userDetails.address2">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 3" class="form-control" ng-model="userDetails.address3">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Line 4" class="form-control" ng-model="userDetails.address4">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="City" class="form-control" ng-model="userDetails.city">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="number" placeholder="Pincode" class="form-control" ng-model="userDetails. pinCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" uib-dropdown>
                                            <button class="btn" type="button" uib-dropdown-toggle>State <span class="caret"></span></button>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <li role="menuitem"><a href="#">Action</a></li>
                                                <li role="menuitem"><a href="#">Another action</a></li>
                                                <li role="menuitem"><a href="#">Something else here</a></li>
                                                <li role="menuitem"><a href="#">Separated link</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="text" placeholder="Country" class="form-control" ng-model="userDetails.country">
                                        </div>
                                    </div>
                                </div>
                                <p><button class="btn save--btn text-uppercase" ng-if="save" ng-click="edit()">save</button>
                                    <button class="btn --btn text-uppercase">delete</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="order-tab" ng-if="view == 'orderTab' ">
                    <!--To open an Order Tab-->
                    <div class="col-md-9">
                        <p class="text-uppercase text-center">
                            <button class="btn order-list--btn" ng-click="view='orders'" ng-class="{
                        'btn--brownActive': view=='orders' }">orders </button>
                            <button class="btn order-list--btn" ng-click="view='return'" ng-class="{
                        'btn--brownActive': view=='return' }">return/exchange</button>
                            <button class="btn order-list--btn" ng-click="view='cancel'" ng-class="{
                        'btn--brownActive': view=='cancel' }">cancelled</button>
                        </p>
                        <div class="table-responsive" ng-if="view == 'orders'">
                            <table class="table account-order-table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed<br><strong>1 march 2017</strong></th>
                                        <th>order no.<br><strong>#123-45678 90123</strong></th>
                                        <th>order-satus<br><strong>returned</strong></th>
                                        <th>tracking id<br><strong>updating</strong></th>
                                        <th>Grand total<br><strong>&#8377; 2899</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img" style="background: url('frontend/img/individual/6.jpg') no-repeat 50% 50%">
                                            </div>

                                        </td>
                                        <td>
                                            <h4 class="item-name text-uppercase">Linen Full Sleeve Shirt With Rollup</h4>
                                            <p class="item-code">Product Code:<span class="text-uppercase"> G000278-GMSHHS0198-AMTEN-02</span>
                                            </p>
                                            <p class="item-cost"><i class="fa fa-inr"></i>2,899</p>

                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">Cancel purchase
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">order details
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">download Invoice
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p class="item-code">Comment: Tailor it to 116 cm height.</p>
                                            <hr>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" ng-if="view == 'return'">
                            <table class="table account-order-table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed</span><br><strong>1 march 2017</strong></th>
                                        <th>order no.<br><strong>#123-45678 90123</strong></th>
                                        <th>order-satus<br><strong>returned</strong></th>
                                        <th>Grand total<br><strong>&#8377; 2899</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img" style="background: url('frontend/img/individual/6.jpg') no-repeat 50% 50%">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="item-name text-uppercase">Linen Full Sleeve Shirt With Rollup</h4>
                                            <p class="item-code">Product Code:<span class="text-uppercase"> G000278-GMSHHS0198-AMTEN-02</span>
                                            </p>
                                            <p class="item-cost"><i class="fa fa-inr"></i>2,899</p>

                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">order details
                                                </button>
                                                <button class="btn order-action--btn text-uppercase">buy it again
                                                </button>

                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="table-responsive" ng-if="view == 'cancel'">
                            <table class="table account-order-table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th>order placed<br><strong>1 march 2017</strong></th>
                                        <th>order no.<br><strong>#123-45678 90123</strong></th>
                                        <th>order-satus<br><strong>returned</strong></th>
                                        <th>Grand total<br><strong>&#8377; 2899</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <!--style="background: url('{{selectedImage.image | serverimage}}') no-repeat 50% 50%"-->
                                            <div class="item-img" style="background: url('frontend/img/individual/6.jpg') no-repeat 50% 50%">
                                            </div>
                                        </td>
                                        <td>
                                            <h4 class="item-name text-uppercase">Linen Full Sleeve Shirt With Rollup</h4>
                                            <p class="item-code">Product Code:<span class="text-uppercase"> G000278-GMSHHS0198-AMTEN-02</span>
                                            </p>
                                            <p class="item-cost">
                                                <i class="fa fa-inr"></i>2,899
                                            </p>
                                        </td>
                                        <td colspan="3">
                                            <div class="pull-right">
                                                <button class="btn order-action--btn text-uppercase">buy it again
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="wishlist-tab" ng-if="view == 'wishlistTab' ">
                    <div class="col-md-9">
                        <div class="row" ng-repeat="abc in myShirt11">
                            <div class="col-md-3" ng-repeat="xyz in abc" ng-init="parentIndex = $index">
                                <div class="buy-info">
                                    <div class="buy-slider">
                                        <flex-slider flex-slide="buy in xyz track by $index" prev-text="" next-text="" animation="slide" min-items="3">
                                            <li>
                                                <i class="fa fa-heart-o" aria-hidden="true" ng-click="addwishlist();"></i>
                                                <img ng-src="{{buy.img}}" class="img-responsive" ng-click="addcart();">
                                            </li>
                                        </flex-slider>
                                        <div class="buy-para custom-checkbox">
                                            <h4><i class="fa fa-inr" aria-hidden="true"></i> {{xyz[0].rupee}}</h4>
                                            <h5 class="text-uppercase">{{xyz[0].title}}</h5>
                                            <hr>
                                            <div class="checkbox inline-block marg0" ng-click="remove();">
                                                <input type="checkbox" id="{{xyz[0].id}}">
                                                <label for="{{xyz[0].id}}">
                                          Add to compare
                                        </label>
                                            </div>
                                            <button class="btn btn-default btn--brown text-uppercase" ng-click="forgot();">buy</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>