<div>
    <div class="bg-mycart">
        <div class="mycart-img">
            <img ng-src="{{banner.image | serverimage}}" class="img-responsive" alt="Banner Image">
        </div>
    </div>
    <div class="container">
        <div class="mycart-container">
            <div class="table-responsive">
                <table class="table mycart-table">
                    <caption class="text-uppercase" ng-if="flag!=0">
                        there are items in your cart which are currently not avaliable.please remove to proceed to checkout
                    </caption>
                    <thead>
                        <tr>
                            <th>ITEM</th>
                            <th>COLOR</th>
                            <th>PRICE</th>
                            <th>SIZE</th>
                            <th>QUANTITY</th>
                            <th>MRP</th>
                            <th>DISCOUNT PRICE</th>
                            <th>GST</th>
                            <th>SUBTOTAL</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="product in mycartTable.products track by $index">
                        <tr ng-class="checkStockStatus(product)">

                            <td rowspan="2">
                                <div class="item relate">
                                    <img ng-src="{{product.product.images[0].image | serverimage}}" alt="" class="img-responsive item__img">
                                    <div class="mycart-info">
                                        <p class="item__title1">{{product.product.productName}}</p>
                                    </div>
                                    <div class="outofstock" ng-if="product.quantity>product.product.quantity">OUT OF STOCK</div>
                                </div>
                            </td>
                            <td>{{product.product.color.name}}</td>
                            <td>&#x20b9 &nbsp;{{product.product.price|number:0}} </td>
                            <td>{{product.product.size.name}}</td>
                            <td>
                                <div class="plus-minus-btn">
                                    <a ng-click="updateQuantity($index, -1)">
                                <i class="fa fa-minus display-inblock square__bg" aria-hidden="true"></i>
                            </a>
                                    <div class="display-inblock">
                                        <form>
                                            <div class="form-group marg0">
                                                <input type="text" readonly class="form-control quantity__input" ng-model="product.quantity">
                                            </div>
                                        </form>
                                    </div>
                                    <a ng-click="updateQuantity($index, 1)" ng-if="product.quantity< product.product.quantity">
                                <i class="fa fa-plus display-inblock square__bg" aria-hidden="true"></i>
                            </a>
                                </div>
                            </td>
                            <td>
                                &#x20b9 &nbsp;{{product.product.mrp}}
                            </td>
                            <td>&#x20b9 &nbsp;{{product.product.price|number:0}}</td>
                            <td></td>
                            <td>&#x20b9 &nbsp;{{product.product.price * product.quantity|number:0}}</td>

                        </tr>
                        <tr>
                            <td colspan="8" class="td-border">
                                <div class="pull-right">
                                    <button class=" btn text-uppercase wishlist--btn" ng-click="addToWishlist(product)"> <i class="fa fa-heart" aria-hidden="true"></i>ADD TO WISHLIST</button>
                                    <button class="btn text-uppercase remove--btn" ng-click="removeProductFromCart(mycartTable._id, product.product._id)"><i class="fa fa-trash" aria-hidden="true"></i>REMOVE</button>
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="mycart-footer">
                <div class="pull-left">
                    <a class="linking" style="color: #341314" ng-click="openCoupon()">Check Offer</a>
                </div>
                <div class="pull-right">
                    <div class="text-right inline-block">
                        <p>ITEM(S) SUBTOTAL :</p>
                        <p>SHIPPING:</p>
                        <p>MEMBER'S DISCOUNT:</p>
                        <p>TOTAL:</p>
                        <p>GST:</p>
                        <p>GRAND TOTAL:</p>
                    </div>
                    <div class="inline-block">
                        <p>&#x20b9 {{total|number:0}}</p>
                        <p>&#x20b9 0</p>
                        <p>&#x20b9 {{grandTotalAfterDiscount|number:0}}</p>
                        <p>&#x20b9 {{grandTotal|number:0}}</p>
                        <p>&#x20b9 0</p>
                        <p>&#x20b9 {{grandTotal|number:0}}</p>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="pull-right margin-15">
                    <button class="btn text-uppercase shop--btn" ui-sref="listing-page">Continue shopping</button>
                    <button class="btn text-uppercase checkout--btn" ui-sref="checkout">checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>