<div>
    <div class="bg-mycart">
    </div>
    <div class="container">
        <div class="mycart-container">
            <table class="table table-bordered mycart-table">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>COLOR</th>
                        <th>SIZE</th>
                        <th>QUANTITY</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2">John</td>
                        <td>blue</td>
                        <td>XL</td>
                        <td>
                            <i class="fa fa-minus display-inblock square__bg" aria-hidden="true"></i>
                            <div class="display-inblock">
                                <form>
                                    <div class="form-group marg0">
                                        <input type="text" class="form-control quantity__input">
                                    </div>
                                </form>
                            </div>
                            <i class="fa fa-plus display-inblock square__bg" aria-hidden="true"></i>

                        </td>
                        <td>2000
                        </td>

                    </tr>
                    <tr class="tr-border">
                        <td colspan="6" class="td-border">
                            <div class="pull-right">
                                <button class=" btn btn-default btn--brown text-uppercase"> <i class="fa fa-heart" aria-hidden="true"></i>ADD TO WISHLIST</button>
                                <button class="btn btn-default btn--brown text-uppercase"><i class="fa fa-trash" aria-hidden="true"></i>REMOVE</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td rowspan="2">John</td>
                        <td>blue</td>
                        <td>XL</td>
                        <td> <i class="fa fa-minus display-inblock square__bg" aria-hidden="true"></i>
                            <div class="display-inblock">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control quantity__input">
                                    </div>
                                </form>
                            </div>
                            <i class="fa fa-plus display-inblock square__bg" aria-hidden="true"></i></td>
                        <td>2000</td>
                    </tr>
                    <tr class="tr-border">
                        <td colspan="6" class="td-border">
                            <div class="pull-right">
                                <button class=" btn btn-default btn--brown text-uppercase"><i class="fa fa-heart" aria-hidden="true"></i>ADD TO WISHLIST</button>
                                <button class="btn btn-default btn--brown text-uppercase"><i class="fa fa-trash" aria-hidden="true"></i>REMOVE</button>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>

            <tfoot>
                <tr>
                    <div class="row">
                        <td colspan="6">
                            <span>ENTER COUPON CODE :</span> <input type="text"> </td>
                        <div class="col-md-5 pull-right">
                            <ul>
                                <li>TOTAL: 2,800</li>
                                <li>SHIPPING:0</li>
                                <li>DISCOUNT:0</li>
                                <li>GRAND TOTAL:5000</li>
                            </ul>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-default btn--brown text-uppercase">Continue shopping</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-default btn--brown   text-uppercase">checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tfoot>
        </div>
    </div>
</div>