<div>
    <div class="bg-mycart">
    </div>
    <div class="container">
        <div class="mycart-container">
            <table class="table table-bordered mycart-table">
                <thead>
                    <tr>
                        <th>ITEM</th>
                        <th>COLOR</th>
                        <th>SIZE</th>
                        <th>QUANTITY</th>
                        <th>SUBTOTAL</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>blue</td>
                        <td>XL</td>
                        <td>
                            <i class="fa fa-minus display-inblock square__bg" aria-hidden="true"></i>
                            <div class="display-inblock">
                                <form>
                                    <div class="form-group marg0">
                                        <input type="text" class="form-control quantity__input">
                                    </div>
                                </form>
                            </div>
                            <i class="fa fa-plus display-inblock square__bg" aria-hidden="true"></i></td>
                        <td>2000</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>blue</td>
                        <td>XL</td>
                        <td> <i class="fa fa-minus display-inblock square__bg" aria-hidden="true"></i>
                            <div class="display-inblock">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control quantity__input">
                                    </div>
                                </form>
                            </div>
                            <i class="fa fa-plus display-inblock square__bg" aria-hidden="true"></i></td>
                        <td>2000</td>
                    </tr>
                </tbody>
            </table>

            <tfoot>
                <tr>
                    <div class="row">
                        <td colspan="6">
                            <span>ENTER COUPON CODE :</span> <input type="text"> </td>
                        <div class="col-md-5 pull-right">
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="btn btn-default btn-block btn-green text-uppercase">Continue shopping</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-default btn-block btn-green text-uppercase">Checkout</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
            </tfoot>
        </div>
    </div>
</div>