<div>
    <div class="container">
        <div class="return-success-msg">
            <h2 class="order-status-title text-center">Return / Exchange
            </h2>
            <div class="return-success-content">
                <div class="return-success-width">
                    <p>Your request for return/exchange of the item has been successfully completed.<br> The order details have
                        been updated. Our personnel will get in touch with you shortly.<br> Kindly keep the item in its original
                        packaging for collection.</p>
                    <p>For more information please refer our <a href="">return/exchange policy.</a></p>
                    <div class="backto-prof-btn text-center">
                        <button class="btn backto-prof--btn text-uppercase" ui-sref='myaccount({view: "profTab"})'>Continue to profile</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>