<div>
    <div class="bg-img">
        <img src="frontend/img/cart/mycart-bg.jpg" alt="Background Image" class="img-responsive">
    </div>
    <div class="store-locator">
        <div class="store-map inline-block">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.70562794511!2d72.90689501478126!3d19.120565755539104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c7e512dbd727%3A0xeb527108d18e04a1!2sBurnt+Umber+Fashion+Private+Limited!5e0!3m2!1sen!2sin!4v1498902443308"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
        <div class="store-location-padd ">
            <div class="store-location">
                <div class="store-location-slider">
                    <div class="store-location-title">
                        <div class="location-dropdown inline-block">

                        </div>
                        <div class="location-name inline-block">
                            <h3 class="tab-title text-uppercase">mumbai
                            </h3>
                        </div>
                    </div>
                    <div class="custom-slider">
                        <flex-slider flex-slide="slocation in storeLocation track by $index" prev-text="" next-text="" animation="slide">
                            <li>
                                <div class="row">
                                    <div class="col-md-6" ng-repeat="location in slocation track by $index">
                                        <div class="store-location-details">
                                            <address>{{location.address}}</address>
                                            <p class="contact-no">{{location.contactNo}} </p>
                                            <p class="email">{{location.email}} </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </flex-slider>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>