<div class="modal-container wish-modal">

    <div class="cart-add login-head otp-one">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
            <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
        </a>
        <p class="text-center">Item successfully added to Cart</p>
        <!--<button class="btn btn-primary">view cart</button>-->
        <p class="text-center"> <button class="btn btn-default btn--brown btn--mob-modal text-uppercase" ui-sref="mycart">view cart</button></p>
    </div>
</div>