<div class="modal-container">
    <div class="change-password login-head">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
            <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
        </a>
        <h1>change password</h1>
        <div class="form">
            <form name="form" class="forms form-otp">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Confirm Password">
                </div>

                <button class="btn btn-default btn--brown text-uppercase">confirm</button>
            </form>
        </div>


        <div class="success-passchange">
            <p>Your password has successfully changed .</p>
            <button class="btn btn-default btn--brown btn--mob-modal text-uppercase">continue</button>

        </div>

    </div>
</div>