<div class="modal-body text-center">
    <div ng-if="!loggedUser">
        <p>You are not logged in. Please log in</p>
    </div>
    <div class="coupon-discount" ng-if="loggedUser">
        <div class="close-modal" ng-click="$dismiss()"><button class="btn close-modal--btn-circle">X</button></div>
        <div class="coupon-discount-title">
            <h1>Apply Coupon</h1>
        </div>
        <div class="coupon-code-num">
            <h4>Enter coupon code</h4>
            <!--<input class="form-control" type="text" placeholder="Type coupon code here" value="{{couponCode}}" ng-disabled="visible">-->
            <input type="text" ng-model="formData.couponCode" class="form-control" placeholder=" Enter Coupon code" ng-disabled="visible">            {{errMessage}}
        </div>
        <div class="coupon-code-offer">
            <h4 class="text-capatilize">Discount</h4>
            <!--<pre>{{applicableDiscounts}}</pre>-->
            <div class="form-group">
                <div class="text-left" ng-if="!formData.couponCode">
                    <div class="radio-wdth inline-block align-top" ng-repeat="discount in applicableDiscountsAll track by $index">
                        <!--<input class="radio-custom" id="radio1" type="radio" name="select" hidden><label for="radio1" class="radio-inline radio-custom-label">-->
                        <!--{{discount}}-->
                        <input hidden class="radio-custom" id="{{discount._id}}" ng-click="radioSubmit(discount);checkbox($index)" type="checkbox"
                            name="select" ng-model="discount.checked" ng-checked="selectedOffer ==$index" ng-value="{{discount}}">
                        <label for="{{discount._id}}" class="radio-inline radio-custom-label">{{discount.name}}<img src="img/listing/shirt.png" width="15" height="15" alt="Shirt Discount">                            </label>
                    </div>
                    <!--<tt>discount = {{discount._id | json}}</tt><br/>-->
                    <!--<div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio2" type="radio" name="select" hidden><label for="radio2" class="radio-inline radio-custom-label">Buy 2 get 20% Off 
                   </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/lable.png" alt="Offer" width="15" height="15">
                        </div>
                    </div>-->
                </div>
                <!--<div class="text-left">
                    <div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio3" type="radio" name="select" hidden><label for="radio3" class="radio-inline radio-custom-label">Free Gifts </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/gift.png" width="15" height="15">
                        </div>
                    </div>
                    <div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio4" type="radio" name="select" hidden><label for="radio4" class="radio-inline radio-custom-label">Flat 50% Off </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/percent.png" width="15" height="15">
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="modal-footer modal-bottom" ng-if="loggedUser">
            {{discount}}
            <button class="btn text-uppercase cancel--btn btn--mob-modal" type="button" ng-click="clearCouponSubmit();$dismiss()">CANCEL</button>
            <button class="btn text-uppercase apply--btn btn--mob-modal" type="button" ng-if="formData.couponCode" ng-click="applyCouponSubmit(formData);">APPLY COUPON</button>
            <button class="btn text-uppercase apply--btn btn--mob-modal" type="button" ng-if="!formData.couponCode" ng-click="applyCouponSubmit(formData,applicableDiscountsOfProduct.productId);">APPLY COUPON</button>
            <!--<button class="btn text-uppercase apply--btn" type="button" ng-click="disabledRadio();">APPLY COUPON</button>-->
        </div>
    </div>

</div>