<div class="modal-body text-center">
    <div class="coupon-discount">
        <div class="close-modal" ng-click="$dismiss()"><button class="btn close-modal--btn-circle">X</button></div>
        <div class="coupon-discount-title">
            <h1>Apply Coupon</h1>
        </div>
        <div class="coupon-code-num">
            <h4>Enter coupon code</h4>
            <input class="form-control" type="number" maxlength="4" placeholder="Type coupon code here">
        </div>
        <div class="coupon-code-offer">
            <h4 class="text-capatilize">Discount</h4>
            <!--{{applicableDiscounts}}-->
            <div class="form-group">
                <div class="text-left">
                    <div class="radio-wdth inline-block" ng-repeat="discount in applicableDiscounts track by $index">
                        <!--<input class="radio-custom" id="radio1" type="radio" name="select" hidden><label for="radio1" class="radio-inline radio-custom-label">-->
                        <!--{{discount}}-->
                        <input class="radio-custom" id="radio1" ng-click="radioSubmit(discount);" type="radio" name="select" ng-model="discountValue" ng-value="{{discount}}"><label for="radio3" class="radio-inline radio-custom-label">{{discount.name}} </label> 
                        </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/shirt.png" width="15" height="15" alt="Shirt Discount">
                        </div>
                    </div>
                    <!--<tt>discount = {{discount._id | json}}</tt><br/>-->
                    <!--<div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio2" type="radio" name="select" hidden><label for="radio2" class="radio-inline radio-custom-label">Buy 2 get 20% Off 
                   </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/lable.png" alt="Offer" width="15" height="15">
                        </div>
                    </div>-->
                </div>
                <!--<div class="text-left">
                    <div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio3" type="radio" name="select" hidden><label for="radio3" class="radio-inline radio-custom-label">Free Gifts </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/gift.png" width="15" height="15">
                        </div>
                    </div>
                    <div class="radio-wdth inline-block">
                        <input class="radio-custom" id="radio4" type="radio" name="select" hidden><label for="radio4" class="radio-inline radio-custom-label">Flat 50% Off </label>
                        <div class="inline-block">
                            <img src="frontend/img/listing/percent.png" width="15" height="15">
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<div class="modal-footer modal-bottom">
    {{discount}}
    <button class="btn text-uppercase cancel--btn" type="button" ng-click="clearCouponSubmit();$dismiss()">CANCEL</button>
    <button class="btn text-uppercase apply--btn" type="button" ng-click="applyCouponSubmit();">APPLY COUPON</button>
</div>