<div class="modal-container">
    <div class="otp-one login-head otp-two">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
            <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
        </a>
        <h1>otp</h1>
        <p>Enter your 4 Digit Verification Code</p>
        <form name="forms-otp1" class="form-otp">
            <div class="form-groups">
                <input class="otpInput" type="text" ng-model="userOtp">
                <!--<span></span>
                <span></span>
                <span></span>
                <span></span>-->
            </div>
            <button class="btn btn-default btn--mob-modal" ng-click="confirmForgotPasswordOtp(userOtp)">Verify OTP</button>
            <button class="btn btn-default btn--mob-modal" ng-click="resendOtp()" ng-if="resendOtpBut">Resend OTP</button>
            <button class="btn btn-default btn--mob-modal" ng-click="$dismiss()">Cancel</button>
            <span class="text-center text-danger" ng-if="errorMessage">{{errorMessage}}</span>
            <!--<a href="#" class="resend">Resend Code</a>-->
        </form>
    </div>
</div>