<div class="relate">
    <div ng-if="!view">
        <div class="row marg0">
            <div class="col-md-6 padd0">
                <div class="modal-container">
                    <div class="minHeight">
                        <div class="text-center login-head login-head-top">
                            <h1 class="brown--color">Log in</h1>
                            <p class="gray--color">to your account</p>
                        </div>
                        <div>
                            <form class="modal__customized-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Username" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="marginTop">
                                    <button class="btn btn-login btn-block">log in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="login-footer">
                        <a href="">Forgot Password?</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padd0">
                <!--<img src="img/home/login.jpg" alt="" class="img-responsive width100">-->
                <div class="modal-container-right sign-up">
                    <div class="minHeight">
                        <div class="text-center login-head login-head-top">
                            <h1>sign up</h1>
                            <p>with one of your<br>social profile</p>
                        </div>
                        <div class="login__social-icons">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <div class="social-icons__list fb">
                                        <a href="">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-icons__list tw">
                                        <a href="">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-icons__list gp">
                                        <a href="">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-footer">
                        <p class="marg0">Don't have an account?</p>
                        <div ng-click="viewLogin();">
                            <a href="">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="view">
        <div class="row marg0">
            <div class="col-md-6 padd0">
                <div class="modal-container">
                    <div class="minHeight">
                        <div class="text-center login-head">
                            <h1>sign up</h1>
                            <p>to your account</p>
                        </div>
                        <div>
                            <form class="modal__customized-form">
                                <div class="form-group">
                                    <input type="text" placeholder="Fullname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="email" placeholder="Email Address" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="text" placeholder="Mobile No." class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <input type="password" placeholder="Confirm" class="form-control">
                                </div>
                                <div class="marginTop">
                                    <button class="btn btn-login btn-block">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 padd0">
                <!--<img src="img/home/login.jpg" alt="" class="img-responsive width100">-->
                <div class="modal-container-right sign-up">
                    <div class="minHeight">
                        <div class="text-center login-head">
                            <h1>log in</h1>
                            <p>with one of your<br>social profile</p>
                        </div>
                        <div class="login__social-icons">
                            <ul class="list-unstyled list-inline">
                                <li>
                                    <div class="social-icons__list fb">
                                        <a href="">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-icons__list tw">
                                        <a href="">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <div class="social-icons__list gp">
                                        <a href="">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="login-footer have-account">
                        <p class="marg0">Have an account</p>
                        <div ng-click="viewLogin();">
                            <a href="">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="orCircle">
        <p class="marg0">or</p>
    </div>
    <div class="cross-absolute" ng-click="$dismiss();">
        <img src="../img/home/33.png" class="img-responsive">
    </div>
</div>