<div class="mycart-header">
    <h4> YOU ARE ENTITLED FOR {{mycartmodal1.length}} PRODUCT</h4>

    <div class="cross-absolute" ng-click="$dismiss();">
        <img src="../img/home/33.png" class="img-responsive" alt="">
    </div>
</div>
<div class="mycart-modal">
    <div class="container-fluid">
        <div class="mycart-modal-container">
            <div class="row" ng-repeat="mycartmodal1 in newA">
                <!--<div class="col-md-10 col-md-offset-1">-->
                <div class="col-md-3" ng-repeat="mycart in mycartmodal1">

                    <div class="mycart-modal">
                        <div class="modal-img">
                            <img ng-src="{{mycart.images[0].image | serverimage}}" alt="" class="img-responsive item__img">
                        </div>
                        <p class="text-left">{{mycart.productName}}</p>
                        <!--<p class="text-left">{{mycart.title2}}</p>-->
                        <p><button class="btn add-cart--btn btn-block text-uppercase" ui-sref="individual-page({id: mycart.productId})">add to cart</button></p>
                        <p><button class="btn add-cart--btn btn-block text-uppercase" ng-click="removeFromWishlist(mycart.productId)">remove</button></p>
                    </div>
                </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>