<div class="mycart-header">
    <h4>YOU ARE ENTITLED FOR 1 PRODUCT</h4>

    <div class="cross-absolute" ng-click="$dismiss();">
        <img src="../img/home/3.png" class="img-responsive" alt="">
    </div>
</div>
<div class="mycart-modal">
    <div class="container-fluid">
        <div class="mycart-modal-container">
            <div class="row" ng-repeat="mycartmodal1 in newA">
                <div class="col-md-3" ng-repeat="mycart in mycartmodal1">

                    <div class="mycart-modal">
                        <div class="modal-img">
                            <img ng-src="{{mycart.img}}" alt="" class="img-responsive item__img">
                        </div>
                        <p class="text-left">{{mycart.title1}}</p>
                        <!--<p class="text-left">{{mycart.title2}}</p>-->
                        <p><button class="btn add-cart--btn btn-block text-uppercase">add to cart</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>