<div class="modal-container">
    <div class="otp-one login-head">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
            <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
        </a>
        <h1>otp</h1>
        <p>Enter your email Id below and </br>you’ll receive a 4 Digit Verification Code.</p>
        <form name="forms-otp1" class="form-otp">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="emailId" placeholder="Enter your email Id. ">
            </div>
            <button class="btn btn-default btn--brown text-uppercase" ng-click="forgotPasswordOtp(emailId)">go</button>
            <!--<button class="btn btn-primary">go</button>-->
        </form>
    </div>
</div>