<div class="modal-container">
<div class="otp-one login-head">
     <a href="" class="close" ng-click="$dismiss();">
        <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
        <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
    </a>
    <h1>otp</h1>
    <p>Enter your 4 Digit Verification Code</p>
    <form  name="forms-otp1" class="form-otp">
<div class="form-groups">
   <span></span>
   <span></span>
   <span></span>
   <span></span>
</div>
<a href="#">resend code</a>
    </form>
</div>
</div>