<div class="modal-container">
    <div class="otp-one login-head otp-two  text-center">
        <a href="" class="closes" ng-click="$dismiss();">
            <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
            <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
        </a>
        <h1>otp</h1>
        <p>Enter your 4 Digit Verification Code sent to your email id</p>
        <form name="formOtp2" class="form-otp" novalidate>
            <div class="form-group customized-form fourdgt-otpbox">
                <input class="form-control text-center otpInput" type="number" name="userOtp" ng-model="userOtp" required uib-popover="{{formOtp2.userOtp.$touched && formOtp2.userOtp.$invalid}}"
                    popover-title="Please enter your password" popover-placement="bottom" popover-class="login-popover" popover-is-open="formOtp2.userOtp.$touched && formOtp2.userOtp.$invalid"
                    popover-trigger="'none'">
                <!--<span></span>
                <span></span>
                <span></span>
                <span></span>-->
            </div>
            <p>
                <button class="btn  btn--brown btn--mob-modal text-uppercase " ng-click="checkOtp(userOtp)" ng-disabled="formOtp2.userOtp.$invalid"
                    uib-popover="{{errorMessage}}" popover-title="{{errorMessage}}" popover-placement="bottom" popover-class="login-popover"
                    popover-is-open="{{errorMessage}}" popover-trigger="'click'">Verify OTP</button>
                <!--<button class="btn  btn--brown text-uppercase" ng-click="resendOtp()" ng-if="resendOtpBut">Resend OTP</button>-->
                <button class="btn  btn--brown btn--mob-modal text-uppercase" ng-click="$dismiss()">Cancel</button>
            </p>

            <a href="" class="resend" ng-click="resendOtp()">Resend Code</a>
        </form>
    </div>
</div>