<div class="otp-password">
    <div class="modal-container">
        <div class="otp-one login-head otp-two text-center otp-success">
            <!--<a href="" class="closes" ng-click="$dismiss();">
                <img src="frontend/img/close.png" class="img-responsive" alt="close">
                <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
            </a>-->
            <!--<h1 class="text-uppercase">otp</h1>-->
            <p>Your account has been successfully verified.</p>
            <button class="btn btn-default btn-go btn--mob-modal text-uppercase" ng-click="close()">ok</button>
        </div>
    </div>
</div>