<div class="modal-container wish-modal">
<div class="cart-add change-password login-head removes">
      <a href="" class="closes" ng-click="$dismiss();">
        <!--<img src="img/home/33.png" class="img-responsive" alt="cross">-->
        <i class="fa fa-2x fa-times-circle-o" aria-hidden="true"></i>
    </a>
    <h1>Remove Item</h1>
    <p>Are you sure you want to remove this item?</p>
     <button class="btn btn-default btn--brown btn--mob-modal text-uppercase" >remove item</button>
      <button class="btn btn-default btn--brown btn--mob-modal text-uppercase" >move to wishlist</button>
</div>
</div>