<div class="size-chart-container">
    <table class="size-chart-table table table-bordered">
        <thead>
            <tr>
                <th class="text-center" colspan="2">Size chart for Men's shirts</th>
                <th class="text-center" colspan="3">Measurements</th>
            </tr>
            <tr>
                <th class="align-middle text-capitalize text-center">Sizes</th>
                <th class="align-middle text-capitalize text-center">Fit</th>
                <th class="align-middle  text-capitalize text-center">Neck<br><span class="text-lowercase">(CMS)</span></th>
                <th class="align-middle  text-capitalize text-center">Chest<br><span class="text-lowercase">(inches)</span></th>
                <th class=" align-middle text-capitalize text-center">
                    <div>Center back length<br><span class="text-lowercase">(inches)</span></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center text-uppercase"><strong>ss</strong></td>
                <td class="text-center text-capitalize">slim fit</td>
                <td class="text-center">39</td>
                <td class="text-center">43</td>
                <td class="text-center">28.00</td>
            </tr>
            <tr>
                <td class="text-center text-uppercase"><strong>ss</strong></td>
                <td class="text-center text-capitalize">slim fit</td>
                <td class="text-center">39</td>
                <td class="text-center">43</td>
                <td class="text-center">28.00</td>
            </tr>
           <tr>
                <td class="text-center text-uppercase"><strong>ss</strong></td>
                <td class="text-center text-capitalize">slim fit</td>
                <td class="text-center">39</td>
                <td class="text-center">43</td>
                <td class="text-center">28.00</td>
            </tr>
        </tbody>
    </table>
</div>