/* Bootstrap Variables Goes Here */

$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #000072 !default;
$darkBrown1: #341314;
$darkBrown2: #331313;
$lightBrown: #7f3836;
$whiteBrown1: #aa7f80;
$whiteBrown2:#5d4243;
$darkGray: #252525;
$lightGray: #aeadad;
$white: #ffffff;
@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "other/font-fix";
@font-face {
    font-family: 'vadodara-bld';
    src: url('../fonts/HindVadodara-Bold.ttf');
}

@font-face {
    font-family: 'vadodara-lgt';
    src: url('../fonts/HindVadodara-Light.ttf');
}

@font-face {
    font-family: 'vadodara-md';
    src: url('../fonts/HindVadodara-Medium.ttf');
}

@font-face {
    font-family: 'vadodara-regular';
    src: url('../fonts/HindVadodara-Regular.ttf');
}

@font-face {
    font-family: 'vadodara-semibld';
    src: url('../fonts/HindVadodara-SemiBold.ttf');
}

@font-face {
    font-family: 'fjalla-reg';
    src: url('../fonts/FjallaOne-Regular.otf');
}


/* Bootstrap Variables Goes Here */

// Mixins (CSS functions)
@mixin flex($flex,
$flexDirect,
$flexWrap,
$flxGrowAmt,
$flxShrinkAmt,
$flxBasisAmt,
$justifyContent,
$itemAlign,
$contentAlign,
$selfAlign) {
    // vendor prefixis
    display: -ms-$flex; // need to type in flex-box for IE & mozilla
    display: -moz-$flex;
    display: -webkit-$flex;
    -ms-flex-flow: $flexDirect $flexWrap;
    -ms-flex: $flxGrowAmt $flxShrinkAmt $flxBasisAmt;
    -ms-flex-pack: $justifyContent;
    -ms-flex-align: $itemAlign;
    -ms-align-content: $contentAlign; // normal
    display: $flex;
    flex-flow: $flexDirect $flexWrap; // shorthand property for flex direction & flex wrap 
    flex: $flxGrowAmt $flxShrinkAmt $flxBasisAmt; //shorhand property for flex-grow flex shrink & flex-basis
    justify-content: $justifyContent;
    align-items: $itemAlign;
    align-content: $contentAlign;
    align-self: $selfAlign;
}

@mixin grid($flex) {
    @if $flex {
        @include flex;
    }
    @else {
        display: block;
    }
} // need to pass true or false like @include grid(true);
@mixin font($fontStyle,
$fontWeight,
$fontSize,
$fontFamily) {
    font-style: $fontStyle;
    font-weight: $fontWeight;
    font-size: $fontSize;
    font-family: $fontFamily;
}

@mixin headline($mgTp,
$mgRt,
$mgBt,
$mgLt) {
    margin-top: $mgTp;
    margin-right: $mgRt;
    margin-bottom: $mgBt;
    margin-left: $mgLt;
}

@mixin inlineBlock($inlineBlock) {
    display: inline-block;
}

@mixin block($inlineBlock) {
    @if $inlineBlock {
        @include inline-block;
    }
    @else {
        display: block;
    }
} // need to pass true or false like @include block(true);
//end of Mixins CSS finctions
body {
    padding-top: 70px;
    font-family: 'vadodara-regular';
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smooth: always !important;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

// custom css starts here
.inline-block {
    @include block(true);
}

.btn--brown {
    @include button-variant($darkBrown1,
    #ededed,
    $white);
    border: 1px dashed $white;
    width: 180px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    &:hover {
        color: $white;
        background-color: darken($darkBrown1, 0); // border-color: darken($border, 12%);
    }
}

// start of navigation menu
.navbar {
    .navbar__sideNav {
        position: relative;
        cursor: pointer;
        margin: 8px 15px;
        padding: 9px 10px;
        background-color: transparent;
        background-image: none;
        border: 1px solid black;
        border-radius: 4px;
        .icon-bar {
            display: block;
            width: 20px;
            background-color: $darkBrown2;
            height: 2px;
            margin-top: 3px;
            border-radius: 1px;
        }
    }
    .navbar__search-bar {
        width: 45%;
        margin-left: 70px;
        float: left;
        .form-group {
            margin: 15px 0;
        }
    }
    .navbar-right {
        margin-right: 15px; // button {
        //     @include button-size();
        // }
        .fa {
            font-size: 18px;
        }
        i {
            color: $darkBrown2;
            margin: 6px 0;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex: 50%;
    height: 150px;
}

.block {
    width: 60px;
    /* width: calc(50% - 10px); */
    height: 60px;
    background: tomato;
    margin: 5px;
    align-items: baseline;
    align-content: flex-start;
}