//scss for mycart
 .mycart-table>thead>tr>th,
 {
     text-align: center;
     // border: none;
 }
 
 .bg-mycart {
     background: url("../img/cart/mycart-bg.jpg");
     background-repeat: no-repeat;
     min-height: 436px;
     background-size: cover;
     background-position: 100% 100%;
     margin-top: -10px;
 }
 
 .mycart-container {
     padding: 50px 0 100px 0px;
 }
 
 .mycart-table {
     .quantity__input:focus {
         border-color: #341314;
     }
     .quantity__input {
         text-align: center;
         width: 47px;
         height: 40px;
         margin: 0 4px;
         font-size: 20px;
         color: #341314;
     }
     .square__bg {
         border: 1px solid #ddd;
         padding: 5px;
         font-size: 10px;
     }
     .display-inblock {
         background-position: 100% 100%;
         display: inline-block;
     }
 }
 
 //scss for modal
 .modal {
     text-align: center;
     padding: 0px;
     height: 100%;
 }
 
 .mycart-header {
     h4 {
         color: white;
         margin: 0;
         background: $darkBrown1;
         padding: 10px;
         font-family: fjalla-reg;
     }
 }
 
 .modal:before {
     content: '';
     display: inline-block;
     height: 100%;
     vertical-align: middle;
     margin-right: -4px;
 }
 
 .modal-dialog {
     display: inline-block;
     text-align: center;
     vertical-align: middle;
 }
 
 .mycart-modal-container {
     padding: 0px 20px;
 }
 
 .cross {
     position: absolute;
     top: 18px;
     right: 2%;
     transform: translate(0%, -50%);
     font-size: 25px;
     color: white;
     cursor: pointer;
 }
 
 .mycart-footer {
     .inline-block:last-child {
         padding-left: 20px;
     }
     span,
     p {
         color: $darkBrown1;
         font-size: 15px;
     }
     span {
         font-weight: 600;
     }
     p {
         margin: 0
     }
 }
 
 .margin-15 {
     margin-top: 15px;
 }
 
 .mycart-modal {
     .btn--brown {
         font-size: 12px;
         letter-spacing: 0;
     }
     padding: 15px 0 20px;
     p {
         margin: 10px 0;
         line-height: 1;
     }
     img {
         width: 100%;
     }
 }
 
 //SCSS FOR BUY THE LOOK
 img.loading {
     display: none !important
 }
 
 .buy-the-look h1 {
     @include margin(20px null);
     font-size: 60px;
     font-family: fjalla-reg;
     color: $darkBrown1;
 }
 
 .buy-main-img {
     background-image: url("../img/buy/1.jpg");
     background-repeat: no-repeat;
     min-height: 740px;
     background-size: cover;
     background-position: 100% 100%;
 }
 
 .sub-row {
     margin: 0 60px 30px 25px;
 }
 
 .buy-slider {
     margin-bottom: 30px;
     li {
         position: relative;
         i {
             position: absolute;
             right: 5px;
             top: 5px;
             cursor: pointer;
         }
     }
     .flexslider {
         margin: 0 0 -12px;
     }
     .flex-control-nav {
         bottom: 8px;
         li {
             margin: 0px 2px;
         }
     }
     .flex-control-paging li a {
         width: 8px;
         height: 8px;
         background: white;
     }
     .flex-control-paging li a:active {
         background: black;
     }
     .flex-direction-nav .flex-next,
     .flex-prev {
         display: none;
     }
 }
 
 .buy-info {
     h5,
     h4,
     p {
         line-height: 1;
         margin: 0px;
         color: $darkBrown1;
     }
     p {
         font-size: 10px;
     }
     h4 {
         i {
             font-size: 15px;
         }
     }
     .btn--brown {
         margin-top: 10px;
         font-size: 13px;
         padding: 3px 30px;
     }
     .buy-para {
         margin: 15px 4px;
         span {
             display: block;
             padding-top: 5px;
         }
         span:before {
             content: "";
             border-bottom: 1px solid #ddd;
             width: 87%;
             height: auto;
             position: absolute;
         }
     }
 }
 
 //SCSS FOR INDIVIDUAL PAGE
 .individual--border--line {
     font-family: 'fjalla-reg';
     @extend .border-line;
     &:before {
         width: 13%;
         top: 50%;
         left: 25%;
         border: 1px solid #e7dada;
     }
     &:after {
         border: 1px solid #e7dada;
         width: 13%;
         top: 50%;
         right: 25%;
     }
 }
 
 .individual-main {
     background-color: #efefef;
     padding: 30px 50px;
     a {
         color: $darkBrown1
     }
 }
 
 .individual-btn {
     .btn-add {
         font-size: 15px;
         padding: 6px 35px;
     }
     .btn-wish {
         font-size: 15px;
         padding: 6px 35px;
         margin-left: 15px;
     }
 }
 
 .border-div {
     border-bottom: 1px solid $whiteBrown1;
     padding-bottom: 15px;
 }
 
 .first-sec {
     h3 {
         margin: 0;
     }
     .inline-block {
         .fa {
             margin-left: 30px;
         }
     }
 }
 
 .second-sec {
     .btn {
         background: transparent;
         border: 1px solid black;
     }
     .fa {
         float: right;
         font-size: 20px;
     }
     .dropdown-menu {
         width: 100%;
         min-width: 80px;
     }
     .btn-select {
         width: 250px;
         text-align: left;
     }
     .btn-no {
         width: 80px;
     }
 }
 
 .ml-10 {
     margin-left: 10px;
 }
 
 .third-sec {
     p {
         margin: 0
     }
 }
 
 .third-sec,
 .fourth-sec,
 {
     .fa {
         font-size: 20px;
     }
     .panel-group .panel-heading+.panel-collapse>.panel-body {
         border-top: none;
     }
     .panel-heading {
         padding: 0px;
     }
     .panel {
         margin-bottom: 0px;
         background-color: transparent;
         border: none;
         box-shadow: none;
     }
     .panel-default>.panel-heading {
         color: #333333;
         background-color: transparent;
         border-color: transparent;
     }
     .panel-group {
         margin-bottom: 0px;
     }
     .panel-body {
         padding: 0px;
     }
 }
 
 .fourth-sec {
     .leftContent {
         .inline-block {
             vertical-align: top;
         }
         input {
             margin: 0px 5px 3px 5px;
             background: transparent;
             //border: none;
         }
     }
     .right-content {
         h4,
         p {
             padding-left: 20px;
         }
         &:before {
             content: '';
             position: absolute;
             border-left: 1px solid $darkBrown1;
             height: 95%;
         }
     }
 }
 
 .fifth-sec {
     margin-top: 10px;
 }
 
 //