<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 ">
                <!--<p>Copyright &copy; {{template.year}}. All Right Resvered.</p>-->
                <div class="copyright text-center">
                    <p>Burntumber Fashion Pvt Ltd© Copyright 2015</p>
                </div>
            </div>

            <div class="col-sm-4 ">
                <div class="share-link text-center">
                    <div class="inline-block">
                        Follow us on
                    </div>
                    <div class="inline-block">
                        <div class="share-link__social-icon">
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <p class="design-company text-center">
                    <a href="http://www.ting.in/" target="_blank">Designed by TING.</a>
                </p>
            </div>
        </div>
    </div>
</footer>