<footer>
    <div class="container">
        <!--<div class="footer-up">
            <div class="inline-block">
                <div>
                    <h3>ABOUT THE SHOP</h3>
                    <p>
                        Burnt Umber is born off Passion for Fashion. Passion for Quality. Therefore our supporting line to our brand is “We Are
                        Mad About Quality”.Burnt Umber creates fashion which is
                    </p>
                    <a href="">Read More</a>
                </div>
                <div>
                    <h3>OPENING TIME</h3>
                    <p>
                        Monday to Saturday - 9.00 to 17.00<br>Sunday - Holiday
                    </p>
                </div>
            </div>
            <div class="inline-block">
                <h3>CUSTOMER SERVICE</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="">Contact Us</a>
                    </li>
                    <li>
                        <a href="">Returns</a>
                    </li>
                    <li>
                        <a href="">Site Map</a>
                    </li>
                    <li>
                        <a href="">Tell a Friend</a>
                    </li>
                    <li>
                        <a href="">Brands</a>
                    </li>
                    <li>
                        <a href="">Gift Vouchers</a>
                    </li>
                    <li>
                        <a href="">Affiliates</a>
                    </li>

                </ul>
            </div>
            <div class="inline-block">
                <h3>INFORMATION</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="">About Us</a>
                    </li>
                    <li>
                        <a href="">Order Policy</a>
                    </li>
                    <li>
                        <a href="">Payment Policy</a>
                    </li>
                    <li>
                        <a href="">Shipping & Retunrs</a>
                    </li>
                    <li>
                        <a href="">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="">Terms & Conditions</a>
                    </li>

                </ul>
            </div>
            <div class="inline-block">
                <h3>MY ACCOUNT</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="">My Account</a>
                    </li>
                    <li>
                        <a href="">Order History</a>
                    </li>
                    <li>
                        <a href="">Wish List</a>
                    </li>
                    <li>
                        <a href="">Newsletter</a>
                    </li>
                    <li>
                        <a href="">Track Order</a>
                    </li>
                    <li>
                        <a href="">Specials</a>
                    </li>
                </ul>
            </div>
            <div class="inline-block">
                <h3>CONTACT</h3>
                <address>Warehouse & Offices Burnt Umber Fashion Pvt. Ltd.No.8A, Vanagaram Main Road, East Ayanambakkam,Tamil Nadu,Chennai--600095
                </address>
                <button class="btn contact--btn">Call us: +91 8754410505</button>
            </div>
        </div>-->
        <div class="row">
            <div class="col-sm-4">
                <!--<p>Copyright &copy; {{template.year}}. All Right Resvered.</p>-->
                <div class="copyright">
                    <p>Burntumber Fashion Pvt Ltd© Copyright 2015</p>
                </div>
            </div>

            <div class="col-sm-4 text-center">
                <div class="share-link">
                    <div class="inline-block">
                        Follow us on
                    </div>
                    <div class="inline-block">
                        <div class="share-link__social-icon">
                            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="text-center">
                    <p>
                        <a href="http://www.wohlig.com" target="_blank">Designed by TING.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>