<header hide-on-scrol ng-controller="headerCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container hidden-sm  hidden-xs ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div>

                    <div class="navbar__sideNav inline-block" ng-click="openSideNav();">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>

                    <div class="navbar-brand-wrap inline-block">
                        <a class="navbar-brand" ui-sref="home"><img src="../img/home/logo.png" alt="logo" width="130px" class="img-responsive"> </a>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-sm hidden-xs"><a href="#"><i class="fa fa-search"></i></a>
                        <div ng-init="focus = false; blur=true; active=false ">
                            <div class="search-box-area" ng-class="{myFocus: focus, myBlur: blur}">
                                <form>
                                    <input type="search" placeholder="search" ng-keypress="search($event,keyword)" ng-model="keyword" ng-focus="focus=true; blur=false; "
                                        ng-blur="focus=false; blur=true; ">
                                </form>
                            </div>
                        </div>
                    </li>

                    <!--<li ng-click="openWishlistModal10();"><a href=""><i class="fa fa-heart "></i> Wishlist</a></li>-->

                    <li ui-sref="myaccount({view: 'wishlistTab'})"><a href="" class="wish-list"><i class="fa fa-heart hvr-pulse"></i> Wishlist</a></li>

                    <li uib-dropdown ng-mouseenter="slideUpSideNav()">
                        <a href="# " uib-dropdown-toggle ui-sref="mycart " class="mycart">

                            <i class="fa fa-shopping-cart "></i> Cart ( <span ng-if="cart.products.length ">{{cart.products.length}}</span>
                            <span ng-if="!cart.products.length ">0</span> )</a>
                        <ul class="cart-dropdown-menu dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown ">
                            <li ng-repeat="product in cart.products ">
                                <div class="dropdown-menu__dropdown-cart ">
                                    <div class="inline-block img ">
                                        <img ng-src="{{product.product.images[0].image | serverimage}} " alt="shirt_img
                        " class="img-responsive ">
                                    </div>
                                    <div class="inline-block desc ">
                                        <h5>{{product.product.productName}}</h5>
                                        <p><i class="fa fa-inr " aria-hidden="true "><span class="product-cost">{{product.product.price |number:0}}</span></i></p>
                                        <p></p>

                                        <div class="inline-block__size ">
                                            <div class="inline-block ">
                                                <div class="size ">
                                                    <span>{{product.product.size.name}}</span>
                                                </div>
                                            </div>
                                            <div class="inline-block ">
                                                <span>Size</span>
                                            </div>
                                        </div>
                                        <p>
                                            <button class="btn remove--btn " ng-click="removeProductFromCart(cart._id, product.product._id)
                        "><i class="fa fa-trash-o " aria-hidden="true "></i>Remove</button>
                                        </p>
                                    </div>
                                </div>

                            </li>
                            <div class="dropdown-menu__btn text-center ">
                                <a ui-sref="checkout "><button class="btn btn--brown-checkout" ng-disabled="!cart.products.length">CHECKOUT</button></a>
                            </div>
                        </ul>

                    </li>

                    <li ng-if="!loggedUser "><button class="btn header--login " ng-click="openLoginModal10(); ">LOGIN</button>
                    </li>
                    <li ng-if="loggedUser" ng-mouseenter="slideUpSideNav()">
                        <a href="" class="user-name" ui-sref="myaccount" ng-if="userId !='' ">hi, {{firstname}} <i class="fa fa-caret-down"></i></a>
                        <!--<button class=" btn header--logout" ng-click="logout(); " ng-if="userId !='' ">Hi, siddhesh</button>-->
                        <ul class="header-top-right-dropdown list-unstyled">
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'profTab'})">profile</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'addrTab'})">manage address</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'orderTab'})">order</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'wishlistTab'})">Wishlist</a> </li>
                            <!-- <li class="text-uppercase"><a href="">forgot password?</a> </li> -->
                            <li class="text-uppercase"><a ng-click="logout(); ">logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--<div class="collapse navbar-collapse " id="nav-collapse ">
                <div ng-include="template.menu " class="template menu "></div>
            </div>-->
        </div>
        <div class="container-fluid visible-sm visible-xs">
            <div class="mobview-header-navigation">
                <div class="navbar-header custom-navbar-header">
                    <button type="button" class="navbar-toggle collapsed  hidden-xs" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                    <div>
                        <div class="navbar__sideNav inline-block" ng-click="openSideNav();">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>

                        <div class="navbar-brand-wrap inline-block">
                            <a class="navbar-brand" ui-sref="home"><img src="../img/home/logo.png" alt="logo" width="130px" class="img-responsive"> </a>
                        </div>
                    </div>
                </div>

                <ul class="custom-navbar-nav nav navbar-nav navbar-right  visible-xs-">
                    <li class="hidden-sm hidden-xs"><a href="#"><i class="fa fa-search"></i></a>
                        <div ng-init="focus = false; blur=true; active=false ">
                            <div class="search-box-area" ng-class="{myFocus: focus, myBlur: blur}">
                                <form>
                                    <input type="search" placeholder="search" ng-keypress="search($event,keyword)" ng-model="keyword" ng-focus="focus=true; blur=false; "
                                        ng-blur="focus=false; blur=true; ">

                                </form>
                            </div>
                        </div>
                    </li>

                    <!--<li ng-click="openWishlistModal10();"><a href=""><i class="fa fa-heart "></i> Wishlist</a></li>-->

                    <li class="hidden-sm hidden-xs" ui-sref="myaccount({view: 'wishlistTab'})"><a href="" class="wish-list"><i class="fa fa-heart hvr-pulse"></i> Wishlist</a></li>
                    <li class="visible-sm visible-xs" ui-sref="myaccount({view: 'wishlistTab'})"><a href="" class="wish-list"><i class="fa fa-heart hvr-pulse"></i></a>
                    </li>
                    <li class="hidden-sm hidden-xs" uib-dropdown ng-mouseenter="slideUpSideNav()">
                        <a href="# " uib-dropdown-toggle ui-sref="mycart " class="mycart">

                            <i class="fa fa-shopping-cart "></i> Cart ( <span ng-if="cart.products.length ">{{cart.products.length}}</span>
                            <span ng-if="!cart.products.length ">0</span> )</a>
                        <ul class="cart-dropdown-menu dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown ">
                            <li ng-repeat="product in cart.products ">
                                <div class="dropdown-menu__dropdown-cart ">
                                    <div class="inline-block img ">
                                        <img ng-src="{{product.product.images[0].image | serverimage}} " alt="shirt_img
                        " class="img-responsive ">
                                    </div>
                                    <div class="inline-block desc ">
                                        <h5>{{product.product.productName}}</h5>
                                        <p><i class="fa fa-inr " aria-hidden="true "><span class="product-cost">{{product.product.price |number:0}}</span></i></p>
                                        <p></p>

                                        <div class="inline-block__size ">
                                            <div class="inline-block ">
                                                <div class="size ">
                                                    <span>{{product.product.size.name}}</span>
                                                </div>
                                            </div>
                                            <div class="inline-block ">
                                                <span>Size</span>
                                            </div>
                                        </div>
                                        <p>
                                            <button class="btn remove--btn " ng-click="removeProductFromCart(cart._id, product.product._id)
                        "><i class="fa fa-trash-o " aria-hidden="true "></i>Remove</button>
                                        </p>
                                    </div>
                                </div>

                            </li>
                            <div class="dropdown-menu__btn text-center ">
                                <a ui-sref="checkout "><button class="btn btn--brown-checkout" ng-disabled="!cart.products.length">CHECKOUT</button></a>
                            </div>
                        </ul>

                    </li>
                    <li class="visible-sm visible-xs">
                        <a href="# " ui-sref="mycart " class="mobview-mycart">
                            <i class="fa fa-shopping-cart "></i></a>
                        <span class="added-cart-amnt" ng-if="cart.products.length ">{{cart.products.length}}</span>
                        <span class="added-cart-amnt" ng-if="!cart.products.length ">0</span>
                    </li>

                    <li class="hidden-sm hidden-xs" ng-if="!loggedUser "><button class="btn header--login " ng-click="openLoginModal10(); ">LOGIN</button>
                    </li>
                    <li class="hidden-sm hidden-xs" ng-if="loggedUser" ng-mouseenter="slideUpSideNav()">
                        <a href="" class="user-name" ui-sref="myaccount" ng-if="userId !='' ">hi, {{firstname}} <i class="fa fa-caret-down"></i></a>
                        <!--<button class=" btn header--logout" ng-click="logout(); " ng-if="userId !='' ">Hi, siddhesh</button>-->
                        <ul class="header-top-right-dropdown list-unstyled">
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'profTab'})">profile</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'addrTab'})">manage address</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'orderTab'})">order</a> </li>
                            <li class="text-uppercase"><a ui-sref="myaccount({view: 'wishlistTab'})">Wishlist</a> </li>
                            <!-- <li class="text-uppercase"><a href="">forgot password?</a> </li> -->
                            <li class="text-uppercase"><a ng-click="logout(); ">logout</a> </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--<div class="collapse navbar-collapse " id="nav-collapse ">
                <div ng-include="template.menu " class="template menu "></div>
            </div>-->
        </div>
    </nav>
    <div class="mobview-search-bar visible-sm visible-xs">
        <form name="productSearchForm" nonvalidate>
            <div class="search-product">
                <label for="search-input"><i class="fa fa-search" aria-hidden="true"></i><span class="sr-only">Search Products</span></label>
                <input type="text" class="form-control input-lg mobview-searchbar-input-lg" ng-keypress="search($event,keyword)" ng-model="keyword"
                    placeholder="Search Products">
            </div>
        </form>
    </div>
    <div class="side-nav relate side-nav-menu-out hidden-sm  hidden-xs ">
        <div class="container">
            <nav>
                <div class="upper-nav">
                    <div class="links relate inline-block">
                        <div>
                            <ul class="list-unstyled text-capitalize">
                                <li><a ui-sref="home">home</a></li>
                                <li class="visible-xs" ng-click="closeCategires();"><a href="">products</a></li>
                                <li><a ui-sref="about">about us</a></li>
                                <li><a ui-sref="contactus">contact us</a></li>
                                <li><a ui-sref="storelocator">store locator</a></li>
                                <li><a ui-sref="blogs">blogs</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product-categories inline-block hidden-xs">
                        <ul class="list-unstyled list-inline text-capitalize">
                            <li ng-repeat="category in categories">
                                <a href="" ng-click="getSubCategories(category)">{{category.name}} <div class="underline"></div></a>
                            </li>
                        </ul>
                        <!--<div ng-if="view == 'casulShirts'">-->
                        <div class="sub-categorie">
                            <ul class="list-unstyled list-inline">
                                <li ng-repeat="subCategory in hCategory.subCategories">
                                    <a ui-sref="listing-page({id: hCategory.slug, cat:subCategory._id})">{{subCategory.name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="man-img hidden-xs">
                        <img src="img/home/sidenav.png" alt="" class="img-responsive">
                    </div>
                </div>
            </nav>
        </div>
        <div class="promotion-section">
            <div class="container">
                <nav>
                    <div class="promotion">
                        <div class="links relate  inline-block">
                            <div>
                                <ul class="list-unstyled text-capitalize">
                                    <li><a>Promotions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-categories inline-block hidden-xs">
                            <ul class="list-unstyled list-inline text-capitalize">
                                <li ng-repeat="category in categories">
                                    <a ui-sref="listing-page({id: category.slug})">{{category.name}} </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="backdrop" ng-class="{'backdropEnable':isBackdropActive}" ng-click="closeSideNav()"></div>
    <div class="mobview-side-nav mobview-side-nav-menu-out visible-sm visible-xs">
        <nav>
            <div class="mobview-links mobview-links-menu-in">
                <ul class="list-unstyled text-capitalize">
                    <li><a ui-sref="home">home</a></li>
                    <li ng-click="closeCategires();"><a href="">products</a></li>
                    <li><a ui-sref="about">about us</a></li>
                    <li><a ui-sref="contactus">contact us</a></li>
                    <li><a ui-sref="blogs">Blogs</a></li>
                    <li><a ui-sref="storelocator">store locator</a></li>
                    <li><a ui-sref="mycart "><i class="fa fa-shopping-cart "></i>My Cart</a></li>
                    <li><a ui-sref="myaccount({view: 'wishlistTab'})"><i class="fa fa-heart"></i>My Wishlist</a></li>
                    <li ng-if="!loggedUser"><a ng-click="openLoginModal10(); "><i class="fa fa-user" aria-hidden="true"></i>My Account</a></li>
                    <li ng-if="loggedUser"><a><i class="fa fa-user" aria-hidden="true"></i>My Account</a>
                        <li ng-click="closePromotions();"><a href=""><i class="fa fa-gift" aria-hidden="true"></i>Promotions</a></li>

                        <ul class="list-unstyled" ng-if="loggedUser">
                            <li><a ui-sref="myaccount({view: 'profTab'})"><i class="fa fa-user-circle-o" aria-hidden="true"></i>My profile</a>                                </li>
                            <li><a ui-sref="myaccount({view: 'addrTab'})"><i class="fa fa-address-card" aria-hidden="true"></i>manage address</a>                                </li>
                            <li><a ui-sref="myaccount({view: 'orderTab'})">order</a> </li>
                            <li><a ui-sref="myaccount({view: 'wishlistTab'})"><i class="fa fa-heart"></i>Wishlist</a> </li>
                            <li><a ng-click="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Log out</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
            <div class="mobview-categories mobview-categories-menu-out">
                <uib-accordion close-others="true">
                    <ul class="list-unstyled">
                        <li>
                            <p><a href="" ng-click="slidebackToMobview()"><i class="fa fa-arrow-left"></i></a></p>

                        </li>
                        <li ng-repeat="category in categories">
                            <div uib-accordion-group ng-click="getSubCategories(category)" is-open="accordHeader">
                                <uib-accordion-heading>
                                    {{category.name}} <i class="pull-right fa" ng-class="{'fa fa-minus': accordHeader, 'fa fa-plus': !accordHeader}"></i>
                                </uib-accordion-heading>
                                <ul class="accordian-mobview-links list-unstyled">
                                    <li ng-repeat="subCategory in hCategory.subCategories"><a ui-sref="listing-page({id: hCategory.slug, cat:subCategory._id})">{{subCategory.name}}</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </uib-accordion>
            </div>
            <!--For promotions-->
            <div class="mobview-promotions mobview-promotions-menu-out">
                <ul class="list-unstyled mobview-promotions-link">
                    <li>
                        <p><a href="" class="padd0" ng-click="slidebackToMobview()"><i class="fa fa-arrow-left"></i></a></p>
                    </li>
                    <li ng-repeat="category in categories">
                        <a ui-sref="listing-page({id: category.slug})">{{category.name}} </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>