<!--<header hide-on-scrol>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="/img/logo.png" alt="logo" width="20"> </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>
        </div>
    </nav>
</header>-->
<header hide-on-scrol>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div>
                    <div class="inline-block" style="vertical-align:super">
                        <div class="navbar__sideNav">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </div>
                    </div>
                    <div class="inline-block">
                        <a class="navbar-brand" ui-sref="home"><img src="../img/home/logo.png" alt="logo" width="130px" class="img-responsive"> </a>
                    </div>
                </div>
            </div>
            <div class="navbar__search-bar" style="display:none">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control">
                    </div>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-search" aria-hidden="true">&nbsp</i></a></li>
                    <li><a href="#"><i class="fa fa-heart" aria-hidden="true">&nbsp Wishlist</i></a></li>
                    <li><a href="#"><i class="fa fa-shopping-cart" aria-hidden="true">&nbsp Cart&nbsp (3)</i></a></li>
                    <li ng-controller="headerCtrl"><a href="#"><button class="btn header--login" ng-click="openLoginModal10();">LOGIN</button></a></li>
                </ul>
            </div>
            <!--<div class="collapse navbar-collapse" id="nav-collapse">
                <div ng-include="template.menu" class="template menu"></div>
            </div>-->
        </div>
    </nav>
</header>